<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="آرماتورهای استاپ موشن مخصوص انیمیت و آموزش">
  <meta name="keywords" content="آرماتور, آرتامن, استاپموشن, انیمیت">

  <link rel="stylesheet" href="/css/aos.css">
  <!-- <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css"> -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/about&contactPages.css">
  <!-- <link rel="stylesheet" href="/css/responsiv.css"> -->
  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">


  <title>درباره‌ی آرتامن</title>
</head>
<body>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->


  <script src="/layouts/nav.js"></script>


<!-- ----------------------------------------------------------------------- -->
<!--                                MAIN-PART                                -->
<!-- ----------------------------------------------------------------------- -->
<main class="outerPart myAboutPage">
  <header class="myMainTitle" data-aos="fade-up"><h1>درباره‌ی آرتامن</h1></header>
  <article class="myArticle" data-aos="fade-up" data-aos-delay="100">
  <!-- <header>
<h3>آرتامن چیست؟</h3>
</header> -->
<section class="mySection">
  <p>

    «آرتامن تولیدکننده‌ی صنعتی انواع اسکلتهای فلزی مفصل دار (آرماتورهای سوکت اند بال) مخصوص ساخت عروسک‌های استاپ‌موشن، مناسب برای بازی، آموزش و انیمیت»


</p>
</section>
  </article>
  <article class="myArticle" data-aos="fade-up" data-aos-delay="100">
  <header>
<h3>تاریخچه</h3>
</header>
<section class="mySection">
  <p>
    تیم تحقیقاتی آرتامن کار خود را به صورت جدی از اوایل سال 1398 آغاز و پس از مطالعات گسترده در زمینه‌های مربوطه، اولین نمونه‌ی <strong>آرماتور مدل انسانی</strong> خود را در سال 1401 آماده‌ی ورود به بازار فروش کرد.
    در طراحی قطعات این محصول تلاش شده تا تمامی نکات مربوط به حرکت، وزن، ایستایی، جنس، مقاومت وایمنی رعایت شود.

</p>
</section>
  </article>


  <article class="myArticle" data-aos="fade-up" data-aos-delay="200">
    <header>
    <h3>اهداف</h3>
    </header>
    <section class="mySection">
      <p>هدف از تولید آرتامن ساخت محصولی در راستای کمک به آموزش‌های مقدماتی و شکوفایی و ایجاد <strong>خلاقیت</strong> و انگیزه در نوجوانان می‌باشد همچنین با توجه به نیاز جامعه و پیرو قطع وابستگی واستفاده از توان داخلی آرتامن در نظر دارد تا آرماتوری با <strong>بالاترین کیفیت</strong> و مناسب‌ترین قیمت را در اختیار مصرف کنندگان قراردهد.
      </p>
    </section>
      </article>

      <article class="myArticle" data-aos="fade-up" data-aos-delay="100">
        <header>
        <h3>چشم انداز</h3>
        </header>
        <section class="mySection">
          <p>
            گروه آرتامن تصمیم دارد تا با تثبیت حضور فعال خود در توسعه و ساخت آرماتور و همچنین با عنایت به تحلیل متخصصین، همواره شرکتی سرآمد و پیشتاز در کشور باشد. و برای دستیابی به این موفقیت، <strong>صداقت و درستکاری</strong> را سرلوحه فعالیت‌های خود قرار می‌دهد.
          </p>
        </section>
          </article>
          <a data-aos="zoom-out" class="myBackBtn" onclick="history.back()">بازگشت به صفحه‌ی قبل</a>

</main>

<div class="google-map" data-aos="zoom-in">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.684243167583!2d50.78254051526025!3d35.733983380182124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8da3861deec963%3A0x437b4bd18c3e6f5a!2z2q_YsdmI2Ycg2LXZhti52KrbjCDZvtuM2YTZhyDZiNix!5e0!3m2!1sen!2s!4v1644779718855!5m2!1sen!2s"
    width="600" height="450" style="border:0;"loading="lazy"></iframe>
</div>


  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->

  <script src="/layouts/footer.js"></script>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SCRIPTS                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/aos.js"></script>
  <!-- <script src="/js/owl.carousel.min.js"></script> -->
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="/js/script.js"></script>

</body>

</html>