<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="آرماتورهای استاپ موشن مخصوص انیمیت و آموزش">
  <meta name="keywords" content="آرماتور,  استاپموشن, انیمیت">
  <meta name="author" content="">

  <link rel="stylesheet" href="/css/aos.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/about&contactPages.css">
  <!-- <link rel="stylesheet" href="/css/responsiv.css"> -->

  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">


  <title>تماس با آرتامن</title>
</head>

<body>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->

  <script src="/layouts/nav.js"></script>


  <!-- ----------------------------------------------------------------------- -->
  <!--                                MAIN-PART                                -->
  <!-- ----------------------------------------------------------------------- -->
  <main class="myContentPage outerPart">
    <header class="myMainTitle" data-aos="fade-up">
      <h1>تماس با آرتامن</h1>
    </header>
    <article class="myArticle" data-aos="fade-up" data-aos-delay="100">
      <header>
        <h3>خطوط ارتباطی</h3>
      </header>
      <section class="mySection ">
        <div class="mySectionRow">
          <div class="mySectionCol">
            <h4 class="myAlignIcon">
              <span class="iconify" data-icon="healthicons:call-centre" data-width="35" data-flip="horizontal"></span>
              مشاوره فروش:
            </h4>
            <div class="mySectionCol">
              <a href="tel:00989909890646">
                0990-9860646
              </a>
              <br>
              <a href="tel:009891099465940">
                0910-9465940
              </a>
            </div>
          </div>
          <div class="mySectionCol">
            <h4 class="myAlignIcon">
              <span class="iconify" data-icon="mdi:cellphone-message" data-width="30"></span>
              پشتیبانی:
            </h4>
            <div class="mySectionCol">
              <a class="mySociallink"  target="_blank" href="https://telegram.me/artaman_co">
                               تلگرام:    
                <span>artaman_co</span>
              </a>
              <a class="mySociallink"  target="_blank" href="https://wa.me/00989909890646">
                واتساپ:
                <span>09909890646</span>
              </a>
            </div>
          </div>
        </div>
        <div class="mySectionDetails">
        <p>
          
          همکاران ما در<strong> بخش فروش</strong> 
          همه روزه 
          به استثنا روزهای تعطیل  <strong> از ساعت (9تا 17)</strong>
         آماده پاسخگویی به سوالات شما عزیزان هستند
        </p>
        <p> 
          
          مشتریان عزیز میتوانند<strong> 24ساعته</strong> از طریق پیامرسانهای مجازی با 
                 <strong>
        تیم پشتیبانی آرتامن
          </strong>
در تماس باشند        </p>
      </div>
      </section>
    </article>


    <article class="myArticle" data-aos="fade-up" data-aos-delay="200">
      <header>
        <h3> نشانی پستی</h3>
      </header>
      <section class="mySection">
        <h4 class="myAlignIcon">
          <span class="iconify" data-icon="mdi:store-marker-outline" data-width="30"></span>

          دفتر فروش:
        </h4>
        <p>
          تهران ، شادآباد ، خیابان 17 شهریور ، خیابان عزیزی ، نمایشگاه دائمی صنعت ساختمان رضا ، پلاک 167        </p>
        <h4 >
          <span class="iconify" data-icon="wpf:factory" data-width="28"></span>

          کارخانه:
        </h4 class="myAlignIcon">

        <p >
           کرج، ماهدشت، شهرک صنعتی پیام، خیابان سرداران، خیابان ششم شمالی، پلاک 16
        </p>
      </section>
    </article>

    <article class="myArticle" data-aos="fade-up" data-aos-delay="300">
      <header>
        <h3> پست الکترونیکی

        </h3>
      </header>
      <section class="mySection">
        <h4 class="myAlignIcon">
          <i data-width="25" class="iconify" data-icon="ant-design:mail-outlined"></i>
          ایمیل
        </h4>
        <a target="_blank" href="mailto:artaamane@gmail.com">
          artaamane@gmail.com
        </a>

        <p class="mySectionDetails">
    
          <strong>تیم آرتامن</strong>
          مشتاقانه منتظر شنیدن
نظرات سازنده و نمونه کارهای خلاقانه شما کاربران گرامی است
      </p>
      </section>
    </article>

    <article class="myArticle" data-aos="fade-up" data-aos-delay="400">
      <header>
        <h3> شبکه های مجازی </h3>
      </header>
      <section class="mySection">
        <h4 class="myAlignIcon"> <span class="iconify" data-icon="lucide:instagram"
            data-width="25"></span>

          اینستاگرام:</h4>
        <a target="_blank" href="https://www.instagram.com/artaman_co/">
          artaman_co
        </a>

        <p class="mySectionDetails">
     
          برای کسب اطلاعات بیشتر حتماً ما را در اینستاگرام دنبال کنید</p>
      </section>
    </article>
    <a data-aos="zoom-out" class="myBackBtn" onclick="history.back()">بازگشت به صفحه‌ی قبل</a>
  </main>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="google-map">
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.684243167583!2d50.78254051526025!3d35.733983380182124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8da3861deec963%3A0x437b4bd18c3e6f5a!2z2q_YsdmI2Ycg2LXZhti52KrbjCDZvtuM2YTZhyDZiNix!5e0!3m2!1sen!2s!4v1644779718855!5m2!1sen!2s"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

  <script src="/layouts/footer.js"></script>


  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SCRIPTS                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- <script src="/js/jquery.min.js"></script> -->
  <script src="/js/aos.js"></script>
  <!-- <script src="/js/owl.carousel.min.js"></script> -->
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="/js/script.js"></script>

</body>

</html>