<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="نقشه های سخت و تصاویر قطعات آرماتورهای 2مفصلی">
  <meta name="keywords" content=" اسکلت عروسک, نقشه ساخت, آرماتور فلزی, آرماتور استاپ موشن, ریگ استاپموشن">
  <meta name="author" content="">

  <link rel="stylesheet" href="/css/aos.css">
  

  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/glightbox.css">

  <!-- <link rel="stylesheet" href="/css/responsiv.css"> -->
  <link rel="stylesheet" href="/css/galleryPage.css"> 

  <!-- <link rel="icon" type="image/x-icon" href="/images/favicon.svg"> -->
  <link rel="icon" sizes="320x480" type="image/x-icon" href="/images/favicon.png">




  <title>گالری تصاویر</title>
</head>
<body>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->
<script src="/layouts/nav.js"></script>
<!-- ----------------------------------------------------------------------- -->
<!--                             FILTER-GALLERY                              -->
<!-- ----------------------------------------------------------------------- -->
<main class="outerPart myGalleryPage">
  <header class="myMainTitle">
    <h1 data-aos="fade-up" >گالری تصاویر</h1></header>
  <div class="container myFilterGallery">
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div data-aos-delay="100" class="text-center" id="myBtn-wrapper">
          <button data-aos="fade-up" data-aos-delay="100"class="btn btn-default filter-button active" id="products" onclick="call(this.id)">محصولات</button>
          <button data-aos="fade-up" data-aos-delay="200"class="btn btn-default filter-button " id="pieces" onclick="call(this.id)">قطعات</button>
          <button data-aos="fade-up" data-aos-delay="300" class="btn btn-default filter-button " id="maps" onclick="call(this.id)">نقشه‌ها</button>
          <button data-aos="fade-up" data-aos-delay="400" class="btn btn-default filter-button " id="specials" onclick="call(this.id)">نمونه‌های خاص</button>
          <button data-aos="fade-up" data-aos-delay="400" class="btn btn-default filter-button " id="festival" onclick="call(this.id)">جشنواره 13</button>
          <button data-aos="fade-up" data-aos-delay="400" class="btn btn-default filter-button " id="olds" onclick="call(this.id)">آرشیو</button>
          <button data-aos="fade-up" data-aos-delay="500" class="btn btn-default filter-button " id="all" onclick="call(this.id)">همه</button>
        </div>
      </div>
  
      <a href="/images/PHOTOS/pro+front.webp"
      data-glightbox="title:آرماتور انسانی مدل پروپلاس نمای روبرو | <a href=' https://shop.artaaman.com/product/proplus-stopmotion-human-armature'>ثبت سفارش</a>; description:2.500.000 تومان:قیمت "
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور استاپ موشن انسان"src="/images/PHOTOS/pro+front.webp">
      </a>
      <a href="/images/PHOTOS/pro+back.webp"
      data-glightbox="title:آرماتور انسانی مدل پروپلاس نمای پشت | <a href=' https://shop.artaaman.com/product/proplus-stopmotion-human-armature'>ثبت سفارش</a>; description:2.500.000 تومان:قیمت "
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور استاپ موشن انسان"src="/images/PHOTOS/pro+front.webp">
      </a>
      <a href="/images/PHOTOS/pro front.webp"
      data-glightbox="title:آرماتور انسانی مدل استاندارد نمای روبرو | <a href=' https://shop.artaaman.com/product/standart-stopmotion-human-armature/'>ثبت سفارش</a>; description:2.000.000 تومان:قیمت "
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور استاپ موشن انسان"src="/images/PHOTOS/pro front.webp">
      </a>
      <a href="/images/PHOTOS/pro side.webp"
      data-glightbox="title:آرماتور انسانی مدل استاندارد نمای نیمرخ | <a href=' https://shop.artaaman.com/product/standart-stopmotion-human-armature/'>ثبت سفارش</a>; description:2.000.000 تومان:قیمت "
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور استاپ موشن انسان"src="/images/PHOTOS/pro side.webp">
      </a>
      <a href="/images/PHOTOS/pro back.webp"
      data-glightbox="title:آرماتور انسانی مدل استاندارد نمای پشت | <a href=' https://shop.artaaman.com/product/standart-stopmotion-human-armature/'>ثبت سفارش</a>; description:2.000.000 تومان:قیمت "
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور استاپ موشن انسان"src="/images/PHOTOS/pro back.webp">
      </a>
      
      <a href="/images/PHOTOS/eco front.webp"
      data-glightbox="title:آرماتور انسانی مدل اکونومی نمای روبرو | <a href='https://shop.artaaman.com/product/economy-stopmotion-human-armature/'>ثبت سفارش</a>; description:1.500.000 تومان:قیمت "
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور استاپ موشن انسان"src="/images/PHOTOS/eco front.webp">
      </a>
      <a href="/images/PHOTOS/eco side.webp"
      data-glightbox="title:آرماتور انسانی مدل اکونومی نمای نیمرخ | <a href='https://shop.artaaman.com/product/economy-stopmotion-human-armature/'>ثبت سفارش</a>; description:1.500.000 تومان:قیمت "
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور استاپ موشن انسان"src="/images/PHOTOS/eco side.webp">
      </a>
      <a href="/images/PHOTOS/eco back.webp"
      data-glightbox="title:آرماتور انسانی مدل اکونومی نمای پشت | <a href='https://shop.artaaman.com/product/economy-stopmotion-human-armature/'>ثبت سفارش</a>; description:1.500.000 تومان:قیمت "
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور استاپ موشن انسان"src="/images/PHOTOS/eco back.webp">
      </a>
      <a href="/images/PHOTOS/2joints-rig.webp"
      data-glightbox="title:ریگ استاپ‌موشن 2بازویی نیمه سبک| <a href='https://shop.artaaman.com/product/stopmotion-weight-rig-a/'>ثبت سفارش</a>; description:4.000.000 تومان:قیمت "
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="ریگ استاپ موشن"src="/images/PHOTOS/2joints-rig.webp">
      </a>
      <a href="/images/PHOTOS/3joints-rig.webp"
      data-glightbox="title:ریگ استاپ‌موشن 3بازویی سنگین| <a href='https://shop.artaaman.com/product/stopmotion-weight-rig-b/'>ثبت سفارش</a>; description:5.000.000 تومان:قیمت "
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="ریگ استاپ موشن"src="/images/PHOTOS/3joints-rig.webp">
      </a>
      <a href="/images/PHOTOS/magnet-rig.webp"
      data-glightbox="title:ریگ استاپ‌موشن مگنتی حرفه‌ای| <a href='https://shop.artaaman.com/product/stopmotion-magnetic-rig/'>ثبت سفارش</a>; description:6.000.000 تومان:قیمت "
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="ریگ استاپ موشن"src="/images/PHOTOS/magnet-rig.webp">
      </a>
      

      <a href="/images/PHOTOS/human&dogArmatures-01.webp"
      data-glightbox="title:آرماتورهای حرفه‌ای مدل انسانی و سگ مخصوص ساخت استاپ موشن; description: اتمام موجودی"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور سگ و انسان"src="/images/PHOTOS/human&dogArmatures-01.webp">
      </a>
      
      <a href="/images/PHOTOS/humanArmature-01.webp"
      data-glightbox="title:   آرماتور حرفه‌ای مدل انسانی سایز استاندارد (22سانت); description: جنس: آهن و آلیاژ کروم نیکل، قابل اتصال با مگنت، قابل اتصال به هولدر از دو ناحیه، قابلیت انیمیت و اتصال انگشتان پا، به همراه زمینه، آچار و پیچ مخصوص مناسب ساخت استاپ موشن. "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور انسان"src="/images/PHOTOS/humanArmature-01.webp">
      </a>
      <a href="/images/PHOTOS/humanArmature-02.webp"
      data-glightbox="title:   آرماتور حرفه‌ای مدل انسانی سایز استاندارد (22سانت); description:جنس: آهن و آلیاژ کروم نیکل، قابل اتصال با مگنت، قابل اتصال به هولدر از دو ناحیه، قابلیت انیمیت و اتصال انگشتان پا، به همراه زمینه، آچار و پیچ مخصوص. مناسب ساخت استاپ موشن "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور استاپ موشن"src="/images/PHOTOS/humanArmature-02.webp">
      </a>
      <a href="/images/PHOTOS/humanArmature-03.webp"
      data-glightbox="title: آرماتور حرفه‌ای مدل انسانی سایز استاندارد (22سانت); description:جنس: آهن و آلیاژ کروم نیکل، قابل اتصال با مگنت، قابل اتصال به هولدر از دو ناحیه، قابلیت انیمیت و اتصال انگشتان پا، به همراه زمینه، آچار و پیچ مخصوص. مناسب ساخت استاپ موشن "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور سگ"src="/images/PHOTOS/humanArmature-03.webp">
      </a>
      <a href="/images/PHOTOS/humanArmature-04.webp"
      data-glightbox="title: آرماتور حرفه‌ای مدل انسانی سایز استاندارد (22سانت); description:جنس: آهن و آلیاژ کروم نیکل، قابل اتصال با مگنت، قابل اتصال به هولدر از دو ناحیه، قابلیت انیمیت و اتصال انگشتان پا، به همراه زمینه، آچار و پیچ مخصوص. مناسب ساخت استاپ موشن "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور سگ"src="/images/PHOTOS/humanArmature-04.webp">
      </a>
      <a href="/images/PHOTOS/humanArmature-05.webp"
      data-glightbox="title: آرماتور حرفه‌ای مدل انسانی سایز استاندارد (22سانت); description:جنس: آهن و آلیاژ کروم نیکل، قابل اتصال با مگنت، قابل اتصال به هولدر از دو ناحیه، قابلیت انیمیت و اتصال انگشتان پا، به همراه زمینه، آچار و پیچ مخصوص. مناسب ساخت استاپ موشن "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور سگ"src="/images/PHOTOS/humanArmature-05.webp">
      </a>
  
      <a href="/images/PHOTOS/dogArmature-01.webp"
      data-glightbox="title:   آرماتور سگ; description: اتمام موجودی"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور سگ"src="/images/PHOTOS/dogArmature-01.webp">
      </a>
      <a href="/images/PHOTOS/dogArmature-02.webp"
      data-glightbox="title:   آرماتور سگ; description: اتمام موجودی"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور سگ"src="/images/PHOTOS/dogArmature-02.webp">
      </a>
      
      <a href="/images/PHOTOS/cat-armatures.webp"
      data-glightbox="title:  نمونه‌ی آرماتور مدل حیوانی آرتامن، سری گربه-سانان; description:این نمونه صرفاً جهت عکاسی طراحی شده است"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="آرماتور گربه"src="/images/PHOTOS/cat-armatures.webp">
      </a>
      <a href="/images/PHOTOS/human-animal-armatures2.webp"
      data-glightbox="title:نمونه‌ی آرماتور مدل انسانی و حیوانی آرتامن; description:این نمونه‌ها صرفاً جهت عکاسی طراحی شده‌اند"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="آرماتور انسان و آرماتور گربه"src="/images/PHOTOS/human-animal-armatures2.webp">
      </a>
      <a href="/images/PHOTOS/human-animal-armatures.webp"
      data-glightbox="title:نمونه‌ی آرماتور مدل انسانی و حیوانی آرتامن; description:این نمونه‌ها صرفاً جهت عکاسی طراحی شده‌اند"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="مخصوص ساخت استاپ موشن_ قیمت  1 میلیون تومان"src="/images/PHOTOS/human-animal-armatures.webp">
      </a>
      <a href="/images/PHOTOS/pcs2.webp"
      data-glightbox="title:قطعات آرتامن; description:قطعات مفصلی آرماتور‌های آرتامن"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="قطعات مفصلی آرماتور‌های آرتامن"src="/images/PHOTOS/pcs2.webp">
      </a>
      <a href="/images/PHOTOS/pcs.webp"
      data-glightbox="title:قطعات آرتامن; description:قطعات مفصلی آرماتور‌های آرتامن"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="قطعات مفصلی آرماتور‌های آرتامن"src="/images/PHOTOS/pcs.webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (1).webp"
      data-glightbox="title:   نمونه‌ی آرماتور انسانی 24سانتیمتری و هولدر 600 گرمی آرتامن; description:موجود نمی‌باشد "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (1).webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (2).webp"
      data-glightbox="title:  نمونه‌ی آرماتور انسانی 24سانتیمتری و هولدر 600 گرمی آرتامن; description:موجود نمی‌باشد"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (2).webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (3).webp"
      data-glightbox="title:  نمونه‌ی آرماتور انسانی 24سانتیمتری و هولدر 600 گرمی آرتامن; description:موجود نمی‌باشد "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (3).webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (4).webp"
      data-glightbox="title:   نمونه‌ی آرماتور انسانی 24سانتیمتری و هولدر 600 گرمی آرتامن; description:موجود نمی‌باشد "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (4).webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (5).webp"
      data-glightbox="title:   نمونه‌ی آرماتور انسانی 24سانتیمتری و هولدر 600 گرمی آرتامن; description:موجود نمی‌باشد "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (5).webp">
      </a>
      <a href="/images/PHOTOS/armaturekit (2).webp"
      data-glightbox="title:  نمونه‌ی کیت آرماتور انسانی 25سانتیمتری آرتامن پس از مونتاژ قطعات; description: این کیت تنها جهت فروش در دوازدهمین بازارچه‌ی جشنواره‌ی دوسالانه‌ی پویانمایی طراحی شده بود"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="  کیت آرماتور استاپ موشن آرتامن"src="/images/PHOTOS/armaturekit (2).webp">
      </a>
       <a href="/images/MAP/exploded-view-01.webp"
            data-glightbox="title:نقشه ساخت آرماتور کیت مدل انسانی   ; description: این نقشه مخصوص ساخت آرماتور کیت سایز 25سانت طراحی شده است"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter maps">
        <img alt="نقشه ساخت آرماتور استاپ موشن" src="/images/MAP/exploded-view-01.webp">
      </a>
      <a href="/images/MAP/exploded-view-02.webp"
            data-glightbox="title:لیست قطعات آرماتور کیت مدل انسانی; description: این لیست تعداد قطعات آرماتور کیت سایز 25سانت(مدل ویژه‌ی جشنواره‌‌ی 1401) را نمایش میدهد"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter maps">
        <img alt="لیست قطعات آرماتور کیت مدل انسانی" src="/images/MAP/exploded-view-02.webp">
      </a>
      <a href="/images/MAP/stand (1).webp"
            data-glightbox="title: پوستر آرماتور مدل انسانی آرتامن; description:این نقشه به صورت شماتیک به منظور چاپ روی استند تهیه شده است."

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds maps">
        <img alt="نقشه آرماتور انسانی آرتامن" src="/images/MAP/stand (1).webp">
      </a>
      <a href="/images/MAP/stand (2).webp"
            data-glightbox="title:پوسترآرماتور مدل سگسانان آرتامن; description:این نقشه به صورت شماتیک به منظور چاپ روی استند تهیه شده است"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds maps">
        <img alt=" نقشه آرماتور سگ " src="/images/MAP/stand (2).webp">
      </a>
      <a href="/images/MAP/stand (3).webp"
            data-glightbox="title:  پوستر آرماتور مدل دایناسور آرتامن; description:این نقشه به صورت شماتیک به منظور چاپ روی استند تهیه شده است"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds maps">
        <img alt="نقشه آرماتور دایناسور" src="/images/MAP/stand (3).webp">
      </a>
      <a href="/images/PHOTOS/ball_socket_armature-model (1).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (1).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (2).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (2).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (3).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (3).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (4).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (4).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (5).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (5).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (6).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (6).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (7).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (7).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (8).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (8).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (9).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (9).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (10).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (10).webp">
</a>
      <a href="/images/PHOTOS/img0 (0).webp"
      data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

  class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
  <img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (0).webp">
</a>

<a href="/images/PHOTOS/img0 (1).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (1).webp">
</a>
<a href="/images/PHOTOS/img0 (2).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (2).webp">
</a>
<a href="/images/PHOTOS/img0 (3).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (3).webp">
</a>
<a href="/images/PHOTOS/img0 (4).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (4).webp">
</a>
<a href="/images/PHOTOS/img0 (5).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (5).webp">
</a>

<a href="/images/PHOTOS/img0 (8).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (8).webp">
</a>
<a href="/images/PHOTOS/img0 (9).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (9).webp">
</a>

      <a href="/images/MAP/img1 (1).webp"
      data-glightbox="title:نقشه‌ی اولیه‌ی تولید قطعات; description: این نقشه‌ تنها برای مراحل پیش تولید آرماتورهای آرتامن طراحی شده‌است"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
        <img alt="نقشه ساخت آرماتور" src="/images/MAP/img1 (1).webp">
      </a>
      <a href="/images/MAP/img1 (2).webp"
            data-glightbox="title:نقشه‌ی اولیه‌ی تولید قطعات; description: این نقشه‌ تنها برای مراحل پیش تولید آرماتورهای آرتامن طراحی شده‌است"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
        <img alt="نقشه ساخت آرماتور"  src="/images/MAP/img1 (2).webp">
      </a>
      <a href="/images/MAP/img1 (3).webp"
            data-glightbox="title:نقشه‌ی اولیه‌ی تولید قطعات; description: این نقشه‌ تنها برای مراحل پیش تولید آرماتورهای آرتامن طراحی شده‌است"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
        <img alt="نقشه ساخت آرماتور" src="/images/MAP/img1 (3).webp">
      </a>
   
      <a href="/images/MAP/img1 (4).webp"
            data-glightbox="title:نقشه‌ی اولیه‌ی تولید قطعات; description: این نقشه‌ تنها برای مراحل پیش تولید آرماتورهای آرتامن طراحی شده‌است"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
        <img alt="نقشه ساخت آرماتور" src="/images/MAP/img1 (4).webp">
      </a>

     <!--  جشنواره -->
     <!-- اساتید -->
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (1).webp"
     data-glightbox="title:آقایان حامد علامتی رئیس محترم کانون پرورشی فکری کودکان و غلامرضا کریمی صارمی دبیر جشنواره پویانمایی; description: عکس از جناب آقای بهنام سامیان"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="حامد علامتی رئیس محترم کانون پرورشی فکری کودکان و غلامرضا کریمی صارمی دبیر جشنواره پویانمایی در سیزدهمین جشنواره‌ دوسالانه انیمیشن" src="/images/PHOTOS/festival13/festival13-artaaman-stars (1).webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars-sahrayi.webp"
     data-glightbox="title:جناب آقای رضامراد صحرایی وزیر محترم آموزش پروش به همراه آقایان حامد علامتی رئیس کانون پرورشی فکری کودکان و محمدرضا کریمی صارمی دبیر جشنواره; description: عکس از جناب آقای بهنام سامیان"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="جناب آقای رضامراد صحرایی وزیر محترم آموزش پروش به همراه آقایان حامد علامتی رئیس کانون پرورشی فکری کودکان و محمدرضا کریمی صارمی دبیر جشنواره" src="/images/PHOTOS/festival13/festival13-artaaman-stars-sahrayi.webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars-mohamadi.webp"
     data-glightbox="title: جناب آقای حمید محمدی  تهیه‌کننده، کارگردان، انیماتور استاپ موشن واز برندگان دوازدهمین دوره جشنواره دوسالانه برای انیمیشن «گذشته» ; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="حمید محمدی کارگردان انیمیشن گذشته در سیزهمین جشنواره دوسالانه پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-stars-mohamadi.webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars-haghighi.webp"
     data-glightbox="title:جناب آقای استاد هرمز حقیقی از بنیانگذاران انیمیشن در ایران; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="استاد هرمز حقیقی در سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-stars-haghighi.webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars-bezdude.webp"
     data-glightbox="title:جناب آقای استاد عادل بزدوده: کارگردان، طراح صحنه، نمایشنامه‌نویس، بازیگر، طراح و سازنده عروسک، عروسک‌گردان و خالق بیش از صدها عروسکی که خاطرات کودکی مارا شکل داده همچون:عروسکهای زیزیگولو، خانه مادربزرگه، شهر موشها و.. ; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="استاد عادل بزدوده در سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-stars-bezdude.webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (2).webp"
     data-glightbox="title:اساتید هنر و انیمیشن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-stars (2).webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (3).webp"
     data-glightbox="title:اساتید هنر و انیمیشن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-stars (3).webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (4).webp"
     data-glightbox="title:آقای حامد زحمتکش (نویسنده ،طراح، کارگردان، بازیگر، عروسک گردان); description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt=":آقای حامد زحمتکش در سیزدهمین جشنواره‌ دوسالانه انیمیشن" src="/images/PHOTOS/festival13/festival13-artaaman-stars (4).webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (5).webp"
     data-glightbox="title: آقای فرنوش عابدی نویسنده و کارگردان انیمیشن و از برندگان سیزدهمین دوره جشنواره پویانمایی برای انیمیشن «سمپاش» ; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="آقای فرنوش عابدی کارگران سمپاش در سیزدهمین جشنواره‌ دوسالانه انیمیشن" src="/images/PHOTOS/festival13/festival13-artaaman-stars (5).webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (6).webp"
     data-glightbox="title: استاد حمید آقاربیع از پیشکسوتان طراحی و ساخت عروسک ; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="استاد حمید آقاربیع از پیشکسوتان طراحی و ساخت عروسک در سیزدهمین جشنواره‌ دوسالانه انیمیشن" src="/images/PHOTOS/festival13/festival13-artaaman-stars (6).webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (7).webp"
     data-glightbox="title:استاد حمید آقاربیع از پیشکسوتان طراحی و ساخت عروسک ; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="استاد حمید آقاربیع از پیشکسوتان طراحی و ساخت عروسک و مدلسازی در سیزدهمین جشنواره‌ دوسالانه انیمیشن" src="/images/PHOTOS/festival13/festival13-artaaman-stars (7).webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (8).webp"
     data-glightbox="title:جناب آقای بهرام عظیمی از کارگردانان مطرح انیمیشن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="بهرام عظیمی در سیزدهمین جشنواره‌ دوسالانه انیمیشن" src="/images/PHOTOS/festival13/festival13-artaaman-stars (8).webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (9).webp"
     data-glightbox="title:از سمت راست آقایان احسان مجیدی (کارگردان و تئاتر)، حامد زحمتکش (،طراح، کارگردان، بازیگر، عروسک گردان)، استاد عادل بزدوده(نویسنده، کارگردان نمایش عروسکی و عروسک‌ساز)، استاد علیرضاحسین‌پور( طراح و سازنده عروسک); description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="احسان مجیدی، حامد زحمتکش، عادل بزدوده، علیرضا حسین‌پور در سیزدهمین جشنواره‌ دوسالانه انیمیشن" src="/images/PHOTOS/festival13/festival13-artaaman-stars (9).webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (10).webp"
     data-glightbox="title:جناب آقای شهرام خوارزمی از اساتید انیمیشن و از داوران سیزدهمین جشنواره پویانمایی تهران; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="شهرام خوارزمی در سیزدهمین جشنواره‌ دوسالانه انیمیشن" src="/images/PHOTOS/festival13/festival13-artaaman-stars (10).webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (11).webp"
     data-glightbox="title:از سمت راست آقایان محمدامین همدانی (تهیه کننده انیمیشن پسر دلفینی)، مسعود حمزه‌ئی (تهیه کننده و کارگردان انیمیشن)، محمد خیراندیش (کارگردان و نویسنده انیمیشن پسر دلفینی) ; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="محمدامین همدانی، مسعود حمزه‌ای، محمد خیراندیش در سیزدهمین جشنواره‌ دوسالانه انیمیشن" src="/images/PHOTOS/festival13/festival13-artaaman-stars (11).webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (12).webp"
     data-glightbox="title:اساتید هنر و انیمیشن: خانم چیستا تاجور (استاد ساخت کچه) ; description:  سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="خانم چیستا تاجور در سیزدهمین جشنواره‌ دوسالانه انیمیشن" src="/images/PHOTOS/festival13/festival13-artaaman-stars (12).webp">
</a>
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (13).webp"
     data-glightbox="title: از سمت راست آقایان علیرضا اوجی (انیماتور، تصویرگر و مجسمه‌ساز)، محمودرضا معبودی(انیماتور، طراح کارکتر و مجسمه ساز); description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="علیرضا اوجی در سیزدهمین جشنواره‌ دوسالانه انیمیشن" src="/images/PHOTOS/festival13/festival13-artaaman-stars (13).webp">
</a>
     <a href="/images/PHOTOS/festival13/festival13-artaaman-stars (14).webp"
     data-glightbox="title:جناب آقای شهرام بیگی (تهیه کننده و کارگردان انیمیشن); description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
 class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
 <img alt="شهرام بیگی در سیزدهمین جشنواره‌ دوسالانه انیمیشن" src="/images/PHOTOS/festival13/festival13-artaaman-stars (14).webp">
</a>
<!-- هومر -->
      <a href="/images/PHOTOS/festival13/festival13-artaaman-HoomerStoude-arts.webp"
            data-glightbox="title:عروسکهای استاپ موشن ساخته هومر ستوده; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt=" عروسکهای استاپ موشن هومر ستوده سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-HoomerStoude-arts.webp">
      </a> 
           <!-- ورکشاپ -->

      <a href="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(4).webp"
            data-glightbox="title:ورکشاپ آزاد ساخت استاپ موشن: پرنیان فراهان‌پور; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(4).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(5).webp"
            data-glightbox="title:ورکشاپ آزاد ساخت استاپ موشن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(5).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(6).webp"
            data-glightbox="title:ورکشاپ آزاد ساخت استاپ موشن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(6).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(7).webp"
            data-glightbox="title:ورکشاپ آزاد ساخت استاپ موشن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(7).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(8).webp"
            data-glightbox="title:ورکشاپ آزاد ساخت استاپ موشن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(8).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(9).webp"
            data-glightbox="title:ورکشاپ آزاد ساخت استاپ موشن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(9).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(10).webp"
            data-glightbox="title:ورکشاپ آزاد ساخت استاپ موشن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(10).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(11).webp"
            data-glightbox="title:ورکشاپ آزاد ساخت استاپ موشن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(11).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(12).webp"
            data-glightbox="title:ورکشاپ آزاد ساخت استاپ موشن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(12).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(13).webp"
            data-glightbox="title:ورکشاپ آزاد ساخت استاپ موشن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-animmateWorkshop(13).webp">
      </a>
     

     <!-- کودکان -->
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(1).webp"
            data-glightbox="title:آیندگان هنر ایران; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(1).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(2).webp"
            data-glightbox="title:آیندگان هنر ایران; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(2).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(3).webp"
            data-glightbox="title:آیندگان هنر ایران; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(3).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(4).webp"
            data-glightbox="title:آیندگان هنر ایران:ساره; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(4).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(5).webp"
            data-glightbox="title:آیندگان هنر ایران; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(5).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(6).webp"
            data-glightbox="title:آیندگان هنر ایران; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(6).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(7).webp"
            data-glightbox="title:آیندگان هنر ایران:آیلین وآوین ; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(7).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(8).webp"
            data-glightbox="title:آیندگان هنر ایران:نیل 6ساله; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(8).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(9).webp"
            data-glightbox="title:آیندگان هنر ایران:سروین 5 ساله; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(9).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(10).webp"
            data-glightbox="title:آیندگان هنر ایران; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(10).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(11).webp"
            data-glightbox="title:آیندگان هنر ایران; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(11).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(12).webp"
            data-glightbox="title:آیندگان هنر ایران; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(12).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(13).webp"
            data-glightbox="title:آیندگان هنر ایران; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(13).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(14).webp"
            data-glightbox="title:آیندگان هنر ایران:ژرفا زندی; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(14).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-kids(15).webp"
            data-glightbox="title:آیندگان هنر ایران:ژرفا زندی; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-kids(15).webp">
      </a>
           <!-- تصاویر یادگاری -->

      <a href="/images/PHOTOS/festival13/festival13-artaaman-friends (1).webp"
            data-glightbox="title:تصاویر یادگاری شما با آرتامن:آقای نیما نادری(هنرپیشه، فیلم‌نامه نویس، سازنده آرماتور) ، الهام و مائده عباسی(کارگردان و انیماتور); description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-friends (1).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-friends (2).webp"
            data-glightbox="title:تصاویر یادگاری شما با آرتامن:زهرا نوروزی(هنرجو); description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-friends (2).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-friends (3).webp"
            data-glightbox="title:تصاویر یادگاری شما با آرتامن:محمد مهدی حسن نژاد(هنرجو); description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-friends (3).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-friends (4).webp"
            data-glightbox="title:تصاویر یادگاری شما با آرتامن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-friends (4).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-friends (5).webp"
            data-glightbox="title:تصاویر یادگاری شما با آرتامن(هنرجو); description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-friends (5).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-friends (6).webp"
            data-glightbox="title:تصاویر یادگاری شما با آرتامن: مهدیه جعفری ابربکوه(هنرجو); description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-friends (6).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-friends (7).webp"
            data-glightbox="title:تصاویر یادگاری شما با آرتامن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-friends (7).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-friends (8).webp"
            data-glightbox="title:تصاویر یادگاری شما با آرتامن; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-friends (8).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman-friends (9).webp"
            data-glightbox="title:تصاویر یادگاری شما با آرتامن: خانواده رفیعی مشتری خوبمون از شیراز; description: غرفه آرتامن در سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman-friends (9).webp">
      </a>
      <!-- غرفه -->
      <a href="/images/PHOTOS/festival13/festival13-artaaman (1).webp"
            data-glightbox="title:غرفه آرتامن: استاد معبودی و مهران زارع; description:  سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman (1).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman (2).webp"
            data-glightbox="title:غرفه آرتامن; description:  سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman (2).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman (3).webp"
            data-glightbox="title:غرفه آرتامن:مشتری محترم آرتامن جناب آقای فراهان پور و دخترشان; description:  سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman (3).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman (4).webp"
            data-glightbox="title:غرفه آرتامن; description:  سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman (4).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman (5).webp"
            data-glightbox="title:غرفه آرتامن: محمودرضا معبودی (استاد ساخت حجم و کارکتر); description:  سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman (5).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman (6).webp"
            data-glightbox="title:غرفه آرتامن: مجتبی بهمنیار (متصدی غرفه آرتامن); description:  سیزدهمین جشنواره بین‌المللی دو سالانه انیمیشن"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman (6).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-artaaman (7).webp"
            data-glightbox="title:غرفه آرتامن:نسیم و ندا پیله‌ور ابریشم (مسئول و مدیر غرفه آرتامن); description:  عکس از جناب آقای بهنام سامیان"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-artaaman (7).webp">
      </a>
      <a href="/images/PHOTOS/festival13/festival13-lastPhoto.webp"
            data-glightbox="title:آخرین تصویر یادگاری تیم آرتامن روبروی سالن حجاب کانون پرورشی فکری کودکان; description: باتشکر از هومر ستوده برای ثبت این عکس زیبا "
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter festival">
        <img alt="سیزدهمین جشنواره‌ پویانمایی" src="/images/PHOTOS/festival13/festival13-lastPhoto.webp">
      </a>
      
     
    </div>


  </div>
  <div class="backBtnWrapper">
    <a data-aos="fade-up"  class="myBackBtn" onclick="history.back()">بازگشت به صفحه‌ی قبل</a>
  </div>
</main>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <script src="/layouts/support.js"></script>
 <script src="/layouts/footer.js"></script>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SCRIPTS                                 -->
  <!-- ----------------------------------------------------------------------- -->
  
  
  <script src="/js/jquery.min.js"></script>
  <script src="/js/aos.js"></script>
  <!-- <script src="/js/owl.carousel.min.js"></script> -->
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="/js/iconify.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/glightbox.min.js"></script>
  <script src="/js/galleryPage.js"></script>




</body>

</html>