<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="نقشه های سخت و تصاویر قطعات آرماتورهای 2مفصلی">
  <meta name="keywords" content=" اسکلت عروسک, نقشه ساخت, آرماتور فلزی, آرماتور استاپ موشن, ریگ استاپموشن">
  <meta name="author" content="">

  <link rel="stylesheet" href="/css/aos.css">
  

  <link rel="stylesheet" href="/css/styles.css">
  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/glightbox.css">

  <!-- <link rel="stylesheet" href="/css/responsiv.css"> -->
  <link rel="stylesheet" href="/css/galleryPage.css"> 

  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">



  <title>گالری تصاویر</title>
</head>
<body>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                PRELOADE                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="preloader"> 
    <div class="preloader-iconWrapper">
      <img class="preloader-icon" src="/images/pointsIcon-01.svg" alt="My Site Preloader">
      <img class="preloader-icon" src="/images/pointsIcon-03.svg" alt="My Site Preloader">
      <img class="preloader-icon" src="/images/pointsIcon-04.svg" alt="My Site Preloader">
    </div>
   </div>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->
<script src="/layouts/nav.js"></script>
<!-- ----------------------------------------------------------------------- -->
<!--                             FILTER-GALLERY                              -->
<!-- ----------------------------------------------------------------------- -->
<main class="outerPart myGalleryPage">
  <header class="myMainTitle">
    <h1 data-aos="fade-up" >گالری تصاویر</h1></header>
  <div class="container myFilterGallery">
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div data-aos-delay="100" class="text-center" id="myBtn-wrapper">
          <button data-aos="fade-up" data-aos-delay="100" class="btn btn-default filter-button active" id="all" onclick="call(this.id)">همه</button>
          <button data-aos="fade-up" data-aos-delay="300"class="btn btn-default filter-button" id="pieces" onclick="call(this.id)">محصولات</button>
          <button data-aos="fade-up" data-aos-delay="200" class="btn btn-default filter-button" id="map" onclick="call(this.id)">نقشه‌ها</button>
        </div>
      </div>
      <a href="/images/PHOTOS/cat-armatures.webp"
      data-glightbox="title:آرماتور مدل حیوانی آرتامن-سری گربه سانان; description:مخصوص ساخت استاپ موشن_ قیمت با احترام 1 میلیون تومان"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="مخصوص ساخت استاپ موشن_ قیمت با احترام 1 میلیون تومان"src="/images/PHOTOS/cat-armatures.webp">
      </a>
      <a href="/images/PHOTOS/human-animal-armatures2.webp"
      data-glightbox="title:آرماتور مدل انسانی و حیوانی آرتامن; description:مخصوص ساخت استاپ موشن_ قیمت با احترام 1 میلیون تومان"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="مخصوص ساخت استاپ موشن_ قیمت با احترام 1 میلیون تومان"src="/images/PHOTOS/human-animal-armatures2.webp">
      </a>
      <a href="/images/PHOTOS/human-animal-armatures.webp"
      data-glightbox="title:آرماتور مدل انسانی و حیوانی آرتامن; description:مخصوص ساخت استاپ موشن_ قیمت با احترام 1 میلیون تومان"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="مخصوص ساخت استاپ موشن_ قیمت با احترام 1 میلیون تومان"src="/images/PHOTOS/human-animal-armatures.webp">
      </a>
      <a href="/images/PHOTOS/pcs2.webp"
      data-glightbox="title:قطعات آرتامن; description:قطعات مفصلی آرماتور‌های آرتامن"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="قطعات مفصلی آرماتور‌های آرتامن"src="/images/PHOTOS/pcs2.webp">
      </a>
      <a href="/images/PHOTOS/pcs.webp"
      data-glightbox="title:قطعات آرتامن; description:قطعات مفصلی آرماتور‌های آرتامن"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="قطعات مفصلی آرماتور‌های آرتامن"src="/images/PHOTOS/pcs.webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (1).webp"
      data-glightbox="title:   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن; description:آرماتور 24سانتیمتری مدل انسانی، و هولدر 600 گرمی مناسب برای انواع عروسکهای استاپ موشن "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (1).webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (2).webp"
      data-glightbox="title:   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن; description:آرماتور 24سانتیمتری مدل انسانی، و هولدر 600 گرمی مناسب برای انواع عروسکهای استاپ موشن "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (2).webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (3).webp"
      data-glightbox="title:   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن; description:آرماتور 24سانتیمتری مدل انسانی، و هولدر 600 گرمی مناسب برای انواع عروسکهای استاپ موشن "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (3).webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (4).webp"
      data-glightbox="title:   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن; description:آرماتور 24سانتیمتری مدل انسانی، و هولدر 600 گرمی مناسب برای انواع عروسکهای استاپ موشن "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (4).webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (5).webp"
      data-glightbox="title:   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن; description:آرماتور 24سانتیمتری مدل انسانی، و هولدر 600 گرمی مناسب برای انواع عروسکهای استاپ موشن "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (5).webp">
      </a>
      <a href="/images/PHOTOS/armaturekit (2).webp"
      data-glightbox="title:  کیت آرماتور استاپ موشن آرتامن; description: نمونه مونتاژ شده کیت آرماتور مدل انسانی به همراه زمینه‌ی فلزی، قابلیت اتصال با مگنت"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="  کیت آرماتور استاپ موشن آرتامن"src="/images/PHOTOS/armaturekit (2).webp">
      </a>
       <a href="/images/MAP/exploded-view-01.webp"
            data-glightbox="title:نقشه ساخت ; description: نقشه ساخت آرماتور مدل انسانی"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img alt="نقشه ساخت آرماتور استاپ موشن" src="/images/MAP/exploded-view-01.webp">
      </a>
      <a href="/images/MAP/exploded-view-02.webp"
            data-glightbox="title:لیست قطعات; description: لیست قطعات  مورد نیاز برای ساخت آرماتور مدل انسانی آرتامن"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img alt="لیست قطعات آرماتور استاپموشن" src="/images/MAP/exploded-view-02.webp">
      </a>
      <a href="/images/MAP/stand (1).webp"
            data-glightbox="title: آرماتور مدل انسانی آرتامن; description:پوستر شماره 1 آرتامن"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img alt="پوستر آرماتور انسانی آرتامن" src="/images/MAP/stand (1).webp">
      </a>
      <a href="/images/MAP/stand (2).webp"
            data-glightbox="title:  آرماتور مدل سگسانان آرتامن; description:پوستر شماره 2 آرتامن"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img alt=" پوستر آرماتور سگ " src="/images/MAP/stand (2).webp">
      </a>
      <a href="/images/MAP/stand (3).webp"
            data-glightbox="title:  آرماتور مدل دایناسور آرتامن; description:پوستر شماره 3 آرتامن"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img alt="پوستر آرماتور دایناسور" src="/images/MAP/stand (3).webp">
      </a>
      <a href="/images/PHOTOS/ball_socket_armature-model (1).webp"
data-glightbox="title:  آرماتور مدل انسانی آرتامن; description: نمونه آرماتور مدل انسانی پیش از آبکاری قطعات"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt=" آرماتور مدل انسانی آرتامن"src="/images/PHOTOS/ball_socket_armature-model (1).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (2).webp"
data-glightbox="title:  آرماتور مدل انسانی آرتامن; description: نمونه آرماتور مدل انسانی پیش از آبکاری قطعات"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt=" آرماتور مدل انسانی آرتامن"src="/images/PHOTOS/ball_socket_armature-model (2).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (3).webp"
data-glightbox="title:  آرماتور مدل انسانی آرتامن; description: نمونه آرماتور مدل انسانی پیش از آبکاری قطعات"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt=" آرماتور مدل انسانی آرتامن"src="/images/PHOTOS/ball_socket_armature-model (3).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (4).webp"
data-glightbox="title:  آرماتور مدل انسانی آرتامن; description: نمونه آرماتور مدل انسانی پیش از آبکاری قطعات"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt=" آرماتور مدل انسانی آرتامن"src="/images/PHOTOS/ball_socket_armature-model (4).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (5).webp"
data-glightbox="title:  آرماتور مدل انسانی آرتامن; description: نمونه آرماتور مدل انسانی پیش از آبکاری قطعات"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt=" آرماتور مدل انسانی آرتامن"src="/images/PHOTOS/ball_socket_armature-model (5).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (6).webp"
data-glightbox="title:  آرماتور مدل انسانی آرتامن; description: نمونه آرماتور مدل انسانی پیش از آبکاری قطعات"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt=" آرماتور مدل انسانی آرتامن"src="/images/PHOTOS/ball_socket_armature-model (6).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (7).webp"
data-glightbox="title:  آرماتور مدل انسانی آرتامن; description: نمونه آرماتور مدل انسانی پیش از آبکاری قطعات"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt=" آرماتور مدل انسانی آرتامن"src="/images/PHOTOS/ball_socket_armature-model (7).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (8).webp"
data-glightbox="title:  آرماتور مدل انسانی آرتامن; description: نمونه آرماتور مدل انسانی پیش از آبکاری قطعات"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt=" آرماتور مدل انسانی آرتامن"src="/images/PHOTOS/ball_socket_armature-model (8).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (9).webp"
data-glightbox="title:  آرماتور مدل انسانی آرتامن; description: نمونه آرماتور مدل انسانی پیش از آبکاری قطعات"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt=" آرماتور مدل انسانی آرتامن"src="/images/PHOTOS/ball_socket_armature-model (9).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (10).webp"
data-glightbox="title:  آرماتور مدل انسانی آرتامن; description: نمونه آرماتور مدل انسانی پیش از آبکاری قطعات"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt=" آرماتور مدل انسانی آرتامن"src="/images/PHOTOS/ball_socket_armature-model (10).webp">
</a>
      <a href="/images/PHOTOS/img0 (0).webp"
      data-glightbox="title: قطعات آرماتور; description: تست محصول"

  class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
  <img alt="قطعات آرماتور"src="/images/PHOTOS/img0 (0).webp">
</a>

<a href="/images/PHOTOS/img0 (1).webp"
data-glightbox="title: قطعات آرماتور; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt="قطعات آرماتور"src="/images/PHOTOS/img0 (1).webp">
</a>
<a href="/images/PHOTOS/img0 (2).webp"
data-glightbox="title: قطعات آرماتور; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt="قطعات آرماتور"src="/images/PHOTOS/img0 (2).webp">
</a>
<a href="/images/PHOTOS/img0 (3).webp"
data-glightbox="title: قطعات آرماتور; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt="قطعات آرماتور"src="/images/PHOTOS/img0 (3).webp">
</a>
<a href="/images/PHOTOS/img0 (4).webp"
data-glightbox="title: قطعات آرماتور; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt="قطعات آرماتور"src="/images/PHOTOS/img0 (4).webp">
</a>
<a href="/images/PHOTOS/img0 (5).webp"
data-glightbox="title: قطعات آرماتور; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt="قطعات آرماتور"src="/images/PHOTOS/img0 (5).webp">
</a>

<a href="/images/PHOTOS/img0 (8).webp"
data-glightbox="title: قطعات آرماتور; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt="قطعات آرماتور"src="/images/PHOTOS/img0 (8).webp">
</a>
<a href="/images/PHOTOS/img0 (9).webp"
data-glightbox="title: قطعات آرماتور; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
<img alt="قطعات آرماتور"src="/images/PHOTOS/img0 (9).webp">
</a>

      <a href="/images/MAP/img1 (1).webp"
      data-glightbox="title:نقشه ساخت اولیه; description: نقشه تولید"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img alt="نقشه ساخت آرماتور" src="/images/MAP/img1 (1).webp">
      </a>
      <a href="/images/MAP/img1 (2).webp"
            data-glightbox="title:نقشه ساخت اولیه; description: نقشه تولید"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img alt="نقشه ساخت آرماتور"  src="/images/MAP/img1 (2).webp">
      </a>
      <a href="/images/MAP/img1 (3).webp"
            data-glightbox="title:نقشه ساخت اولیه; description: نقشه تولید"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img alt="نقشه ساخت آرماتور" src="/images/MAP/img1 (3).webp">
      </a>
   
      <a href="/images/MAP/img1 (4).webp"
            data-glightbox="title:نقشه ساخت اولیه; description: نقشه تولید"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img alt="نقشه ساخت آرماتور" src="/images/MAP/img1 (4).webp">
      </a>
     

  
     
     
    </div>
  </div>
  <div class="backBtnWrapper">
    <a data-aos="fade-up"  class="myBackBtn" onclick="history.back()">بازگشت به صفحه‌ی قبل</a>
  </div>
</main>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->
 <script src="/layouts/footer.js"></script>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SCRIPTS                                 -->
  <!-- ----------------------------------------------------------------------- -->
  
  
  <script src="/js/jquery.min.js"></script>
  <script src="/js/aos.js"></script>
  <!-- <script src="/js/owl.carousel.min.js"></script> -->
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/glightbox.min.js"></script>
  <script src="/js/galleryPage.js"></script>




</body>

</html>