<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="نقشه های سخت و تصاویر قطعات آرماتورهای 2مفصلی">
  <meta name="keywords" content=" اسکلت عروسک, نقشه ساخت, آرماتور فلزی, آرماتور استاپ موشن, ریگ استاپموشن">
  <meta name="author" content="">

  <link rel="stylesheet" href="/css/aos.css">
  

  <link rel="stylesheet" href="/css/styles.css">
  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/glightbox.css">

  <!-- <link rel="stylesheet" href="/css/responsiv.css"> -->
  <link rel="stylesheet" href="/css/galleryPage.css"> 

  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">



  <title>گالری تصاویر</title>
</head>
<body>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                PRELOADE                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <!-- <div class="preloader"> 
    <div class="preloader-iconWrapper">
      <img class="preloader-icon" src="/images/pointsIcon-01.svg" alt="My Site Preloader">
      <img class="preloader-icon" src="/images/pointsIcon-03.svg" alt="My Site Preloader">
      <img class="preloader-icon" src="/images/pointsIcon-04.svg" alt="My Site Preloader">
    </div>
   </div> -->
  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->
<script src="/layouts/nav.js"></script>
<!-- ----------------------------------------------------------------------- -->
<!--                             FILTER-GALLERY                              -->
<!-- ----------------------------------------------------------------------- -->
<main class="outerPart myGalleryPage">
  <header class="myMainTitle">
    <h1 data-aos="fade-up" >گالری تصاویر</h1></header>
  <div class="container myFilterGallery">
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div data-aos-delay="100" class="text-center" id="myBtn-wrapper">
          <button data-aos="fade-up" data-aos-delay="100"class="btn btn-default filter-button active" id="products" onclick="call(this.id)">محصولات</button>
          <button data-aos="fade-up" data-aos-delay="200"class="btn btn-default filter-button " id="pieces" onclick="call(this.id)">قطعات</button>
          <button data-aos="fade-up" data-aos-delay="300" class="btn btn-default filter-button " id="maps" onclick="call(this.id)">نقشه‌ها</button>
          <button data-aos="fade-up" data-aos-delay="400" class="btn btn-default filter-button " id="specials" onclick="call(this.id)">نمونه‌های خاص</button>
          <button data-aos="fade-up" data-aos-delay="400" class="btn btn-default filter-button " id="olds" onclick="call(this.id)">آرشیو</button>
          <button data-aos="fade-up" data-aos-delay="500" class="btn btn-default filter-button " id="all" onclick="call(this.id)">همه</button>
        </div>
      </div>

      <a href="/images/PHOTOS/human&dogArmatures-01.webp"
      data-glightbox="title:آرماتورهای حرفه‌ای مدل انسانی و سگ مخصوص ساخت استاپ موشن; description: قیمت انسانی: 1میلیون و 500هزار تومان/ قیمت سگ: 1.700.000 تومان، با ارسال رایگان به سراسر ایران"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور سگ و انسان"src="/images/PHOTOS/human&dogArmatures-01.webp">
      </a>
      
      <a href="/images/PHOTOS/humanArmature-01.webp"
      data-glightbox="title:   آرماتور حرفه‌ای مدل انسانی سایز استاندارد (22سانت); description: جنس: آهن و آلیاژ کروم نیکل، قابل اتصال با مگنت، قابل اتصال به هولدر از دو ناحیه، قابلیت انیمیت و اتصال انگشتان پا، به همراه زمینه، آچار و پیچ مخصوص مناسب ساخت استاپ موشن. قیمت :1 میلیون و 500 هزار تومان"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور انسان"src="/images/PHOTOS/humanArmature-01.webp">
      </a>
      <a href="/images/PHOTOS/humanArmature-02.webp"
      data-glightbox="title:   آرماتور حرفه‌ای مدل انسانی سایز استاندارد (22سانت); description:جنس: آهن و آلیاژ کروم نیکل، قابل اتصال با مگنت، قابل اتصال به هولدر از دو ناحیه، قابلیت انیمیت و اتصال انگشتان پا، به همراه زمینه، آچار و پیچ مخصوص. مناسب ساخت استاپ موشن قیمت :1 میلیون و 500 هزار تومان"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور استاپ موشن"src="/images/PHOTOS/humanArmature-02.webp">
      </a>
      <a href="/images/PHOTOS/humanArmature-03.webp"
      data-glightbox="title: آرماتور حرفه‌ای مدل انسانی سایز استاندارد (22سانت); description:جنس: آهن و آلیاژ کروم نیکل، قابل اتصال با مگنت، قابل اتصال به هولدر از دو ناحیه، قابلیت انیمیت و اتصال انگشتان پا، به همراه زمینه، آچار و پیچ مخصوص. مناسب ساخت استاپ موشن قیمت :1 میلیون و 500 هزار تومان"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور سگ"src="/images/PHOTOS/humanArmature-03.webp">
      </a>
      <a href="/images/PHOTOS/humanArmature-04.webp"
      data-glightbox="title: آرماتور حرفه‌ای مدل انسانی سایز استاندارد (22سانت); description:جنس: آهن و آلیاژ کروم نیکل، قابل اتصال با مگنت، قابل اتصال به هولدر از دو ناحیه، قابلیت انیمیت و اتصال انگشتان پا، به همراه زمینه، آچار و پیچ مخصوص. مناسب ساخت استاپ موشن قیمت :1 میلیون و 500 هزار تومان"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور سگ"src="/images/PHOTOS/humanArmature-04.webp">
      </a>
      <a href="/images/PHOTOS/humanArmature-05.webp"
      data-glightbox="title: آرماتور حرفه‌ای مدل انسانی سایز استاندارد (22سانت); description:جنس: آهن و آلیاژ کروم نیکل، قابل اتصال با مگنت، قابل اتصال به هولدر از دو ناحیه، قابلیت انیمیت و اتصال انگشتان پا، به همراه زمینه، آچار و پیچ مخصوص. مناسب ساخت استاپ موشن قیمت :1 میلیون و 500 هزار تومان"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور سگ"src="/images/PHOTOS/humanArmature-05.webp">
      </a>
  
      <a href="/images/PHOTOS/dogArmature-01.webp"
      data-glightbox="title:   آرماتور سگ; description: قیمت: 1.700.000 تومان، با ارسال رایگان به سراسر ایران"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور سگ"src="/images/PHOTOS/dogArmature-01.webp">
      </a>
      <a href="/images/PHOTOS/dogArmature-02.webp"
      data-glightbox="title:   آرماتور سگ; description: قیمت: 1.700.000 تومان، با ارسال رایگان به سراسر ایران"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter products">
      <img alt="آرماتور سگ"src="/images/PHOTOS/dogArmature-02.webp">
      </a>
      
      <a href="/images/PHOTOS/cat-armatures.webp"
      data-glightbox="title:  نمونه‌ی آرماتور مدل حیوانی آرتامن، سری گربه-سانان; description:این نمونه صرفاً جهت عکاسی طراحی شده است"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="آرماتور گربه"src="/images/PHOTOS/cat-armatures.webp">
      </a>
      <a href="/images/PHOTOS/human-animal-armatures2.webp"
      data-glightbox="title:نمونه‌ی آرماتور مدل انسانی و حیوانی آرتامن; description:این نمونه‌ها صرفاً جهت عکاسی طراحی شده‌اند"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="آرماتور انسان و آرماتور گربه"src="/images/PHOTOS/human-animal-armatures2.webp">
      </a>
      <a href="/images/PHOTOS/human-animal-armatures.webp"
      data-glightbox="title:نمونه‌ی آرماتور مدل انسانی و حیوانی آرتامن; description:این نمونه‌ها صرفاً جهت عکاسی طراحی شده‌اند"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="مخصوص ساخت استاپ موشن_ قیمت  1 میلیون تومان"src="/images/PHOTOS/human-animal-armatures.webp">
      </a>
      <a href="/images/PHOTOS/pcs2.webp"
      data-glightbox="title:قطعات آرتامن; description:قطعات مفصلی آرماتور‌های آرتامن"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="قطعات مفصلی آرماتور‌های آرتامن"src="/images/PHOTOS/pcs2.webp">
      </a>
      <a href="/images/PHOTOS/pcs.webp"
      data-glightbox="title:قطعات آرتامن; description:قطعات مفصلی آرماتور‌های آرتامن"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
      <img alt="قطعات مفصلی آرماتور‌های آرتامن"src="/images/PHOTOS/pcs.webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (1).webp"
      data-glightbox="title:   نمونه‌ی آرماتور انسانی 24سانتیمتری و هولدر 600 گرمی آرتامن; description:موجود نمی‌باشد "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (1).webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (2).webp"
      data-glightbox="title:  نمونه‌ی آرماتور انسانی 24سانتیمتری و هولدر 600 گرمی آرتامن; description:موجود نمی‌باشد"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (2).webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (3).webp"
      data-glightbox="title:  نمونه‌ی آرماتور انسانی 24سانتیمتری و هولدر 600 گرمی آرتامن; description:موجود نمی‌باشد "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (3).webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (4).webp"
      data-glightbox="title:   نمونه‌ی آرماتور انسانی 24سانتیمتری و هولدر 600 گرمی آرتامن; description:موجود نمی‌باشد "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (4).webp">
      </a>
      <a href="/images/PHOTOS/rig+armature (5).webp"
      data-glightbox="title:   نمونه‌ی آرماتور انسانی 24سانتیمتری و هولدر 600 گرمی آرتامن; description:موجود نمی‌باشد "
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="   آرماتور استاپ موشن و ریگ نگهدارنده آرتامن"src="/images/PHOTOS/rig+armature (5).webp">
      </a>
      <a href="/images/PHOTOS/armaturekit (2).webp"
      data-glightbox="title:  نمونه‌ی کیت آرماتور انسانی 25سانتیمتری آرتامن پس از مونتاژ قطعات; description: این کیت تنها جهت فروش در دوازدهمین بازارچه‌ی جشنواره‌ی دوسالانه‌ی پویانمایی طراحی شده بود"
      
      class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter specials">
      <img alt="  کیت آرماتور استاپ موشن آرتامن"src="/images/PHOTOS/armaturekit (2).webp">
      </a>
       <a href="/images/MAP/exploded-view-01.webp"
            data-glightbox="title:نقشه ساخت آرماتور کیت مدل انسانی   ; description: این نقشه مخصوص ساخت آرماتور کیت سایز 25سانت طراحی شده است"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter maps">
        <img alt="نقشه ساخت آرماتور استاپ موشن" src="/images/MAP/exploded-view-01.webp">
      </a>
      <a href="/images/MAP/exploded-view-02.webp"
            data-glightbox="title:لیست قطعات آرماتور کیت مدل انسانی; description: این لیست تعداد قطعات آرماتور کیت سایز 25سانت(مدل ویژه‌ی جشنواره‌‌ی 1401) را نمایش میدهد"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter maps">
        <img alt="لیست قطعات آرماتور کیت مدل انسانی" src="/images/MAP/exploded-view-02.webp">
      </a>
      <a href="/images/MAP/stand (1).webp"
            data-glightbox="title: پوستر آرماتور مدل انسانی آرتامن; description:این نقشه به صورت شماتیک به منظور چاپ روی استند تهیه شده است."

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds maps">
        <img alt="نقشه آرماتور انسانی آرتامن" src="/images/MAP/stand (1).webp">
      </a>
      <a href="/images/MAP/stand (2).webp"
            data-glightbox="title:پوسترآرماتور مدل سگسانان آرتامن; description:این نقشه به صورت شماتیک به منظور چاپ روی استند تهیه شده است"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds maps">
        <img alt=" نقشه آرماتور سگ " src="/images/MAP/stand (2).webp">
      </a>
      <a href="/images/MAP/stand (3).webp"
            data-glightbox="title:  پوستر آرماتور مدل دایناسور آرتامن; description:این نقشه به صورت شماتیک به منظور چاپ روی استند تهیه شده است"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds maps">
        <img alt="نقشه آرماتور دایناسور" src="/images/MAP/stand (3).webp">
      </a>
      <a href="/images/PHOTOS/ball_socket_armature-model (1).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (1).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (2).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (2).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (3).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (3).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (4).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (4).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (5).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (5).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (6).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (6).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (7).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (7).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (8).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (8).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (9).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (9).webp">
</a>
<a href="/images/PHOTOS/ball_socket_armature-model (10).webp"
data-glightbox="title:  نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»; description: این نمونه صرفاً جهت استفاده برای عکاسی آماده شده است، و با نمونه‌ی استاندارد موجود در محصول تفاوت دارد."

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt=" نمونه‌ی آرماتور مدل انسانی آرتامن «پیش از آبکاری قطعات»"src="/images/PHOTOS/ball_socket_armature-model (10).webp">
</a>
      <a href="/images/PHOTOS/img0 (0).webp"
      data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

  class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
  <img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (0).webp">
</a>

<a href="/images/PHOTOS/img0 (1).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (1).webp">
</a>
<a href="/images/PHOTOS/img0 (2).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (2).webp">
</a>
<a href="/images/PHOTOS/img0 (3).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (3).webp">
</a>
<a href="/images/PHOTOS/img0 (4).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (4).webp">
</a>
<a href="/images/PHOTOS/img0 (5).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (5).webp">
</a>

<a href="/images/PHOTOS/img0 (8).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (8).webp">
</a>
<a href="/images/PHOTOS/img0 (9).webp"
data-glightbox="title: تستهای ابتدایی ساخت قطعات; description: تست محصول"

class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
<img alt="قطعات آرماتور استاپ موشن"src="/images/PHOTOS/img0 (9).webp">
</a>

      <a href="/images/MAP/img1 (1).webp"
      data-glightbox="title:نقشه‌ی اولیه‌ی تولید قطعات; description: این نقشه‌ تنها برای مراحل پیش تولید آرماتورهای آرتامن طراحی شده‌است"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
        <img alt="نقشه ساخت آرماتور" src="/images/MAP/img1 (1).webp">
      </a>
      <a href="/images/MAP/img1 (2).webp"
            data-glightbox="title:نقشه‌ی اولیه‌ی تولید قطعات; description: این نقشه‌ تنها برای مراحل پیش تولید آرماتورهای آرتامن طراحی شده‌است"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
        <img alt="نقشه ساخت آرماتور"  src="/images/MAP/img1 (2).webp">
      </a>
      <a href="/images/MAP/img1 (3).webp"
            data-glightbox="title:نقشه‌ی اولیه‌ی تولید قطعات; description: این نقشه‌ تنها برای مراحل پیش تولید آرماتورهای آرتامن طراحی شده‌است"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
        <img alt="نقشه ساخت آرماتور" src="/images/MAP/img1 (3).webp">
      </a>
   
      <a href="/images/MAP/img1 (4).webp"
            data-glightbox="title:نقشه‌ی اولیه‌ی تولید قطعات; description: این نقشه‌ تنها برای مراحل پیش تولید آرماتورهای آرتامن طراحی شده‌است"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter olds">
        <img alt="نقشه ساخت آرماتور" src="/images/MAP/img1 (4).webp">
      </a>
     

  
<!-- <a class=" gallery_product col-lg-4 col-md-6 col-sm-12 filter maps" 
href="/images/PHOTOS/humanModel22.5cm-04.webp" download="Artaaman map">
download
  <img src="/images/PHOTOS/humanModel22.5cm-04.webp" alt="W3Schools" >
  </a> -->
            
     
     
    </div>


  </div>
  <div class="backBtnWrapper">
    <a data-aos="fade-up"  class="myBackBtn" onclick="history.back()">بازگشت به صفحه‌ی قبل</a>
  </div>
</main>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->
 <script src="/layouts/footer.js"></script>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SCRIPTS                                 -->
  <!-- ----------------------------------------------------------------------- -->
  
  
  <script src="/js/jquery.min.js"></script>
  <script src="/js/aos.js"></script>
  <!-- <script src="/js/owl.carousel.min.js"></script> -->
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="/js/iconify.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/glightbox.min.js"></script>
  <script src="/js/galleryPage.js"></script>




</body>

</html>