<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fa" xml:lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="url" content="https://www.artaaman.com/" >
  <meta property="og:title" content="کیت آرماتور استاپ موشن آرتامن/ Armature kits for puppet armatures"/>

  <meta name="og:description" content="آرماتورها(اسکلتهای) فلزی مفصل دار، مخصوص ساخت عروسک، استاپ موشن، انیمیت و آموزش">
  <meta name="keywords" content=" اسکلت عروسک, انیمیشن , آرماتور, آرماتور استاپ موشن, ساخت استاپ موشن">
  <meta property="og:type" content="website" >
  <meta property="og:image" content="https://artaaman.com/images/PHOTOS/rig+armature%20(2).webp">
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>

  <!-- <link rel="stylesheet" href="/css/aos.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link rel="stylesheet" href="/css/owl.carousel.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- <link rel="stylesheet" href="/css/owl.theme.default.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- <link rel="stylesheet" href="/css/swiper-bundle.min.css" > -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.0.3/swiper-bundle.min.css" rel="stylesheet" media="all">


  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/mainPage.css">
  <!-- <link rel="stylesheet" href="/css/responsiv.css"> -->


  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">


  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RYCFE5NR8J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RYCFE5NR8J');
</script>
  <title>آرتامن</title>
</head>

<body>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <script src="/layouts/nav.js"></script>


  <!-- ----------------------------------------------------------------------- -->
  <!--                                 HEADER                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <header class="myHeader">
    <div class="mainWrapper myHeader-contents">
      <img class="myHeader-titleImg" src="/images/headerLogoSmall.svg" alt="artaman logo + artaman title"
        data-aos="fade-down">
      <h1 data-aos="fade-up">
        آرماتور استاپ موشن؛ مناسب برای آموزش، طراحی و ساخت انیمیشن
  
      </h1>
      <button class="hvr-ripple-in" onclick="window.location.href='/contact'">تماس با ما</button>
    </div>
  </header>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 WHY-US?                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="myWhyUs-wrapper">
    <div class="mainWrapper myWhyUs-container">
      <div class="myWhyUs-title" data-aos="fade-up">
        <h2>چراآرتامن؟</h2>
      </div>
      <section class="myWhyUs-contents">
        <div class="myWhyUs-item" data-aos="fade-up" data-aos-delay="100">
          <img src="/images/pointsIcon-01.svg" width="60em" alt="">
          <h3>خدمات پس از فروش</h3>
          <p> ما در <a href="/contact">تیم پشتیبانی آرتامن</a> 24 ساعته آماده‌ی پاسخگویی به سوالات و مشکلات شما عزیزان می‌باشیم</p>
        </div>
        <div class="myWhyUs-item" data-aos="fade-up" data-aos-delay="200">
          <img src="/images/pointsIcon-04.svg" width="60em" alt="">
          <h3>خرید راحت</h3>
          <p> شما میتوانید همه روزه به صورت تلفنی یا آنلاین سفارش خود را ثبت کرده، و درب منزل تحویل بگیرید   </p>
        </div>
        <div class="myWhyUs-item" data-aos="fade-up" data-aos-delay="300">
          <img src="/images/pointsIcon-03.svg" width="60em" alt="">
          <h3>قابلیت ساخت و ادغام</h3>
          <p>تمامی آرماتورها به گونه‌ای طراحی شده که به راحتی قابل جدا سازی و ادغام با سایر قطعات را دارد</p>
        </div>
        <div class="myWhyUs-item" data-aos="fade-up" data-aos-delay="400">
          <img src="/images/pointsIcon-05.svg" width="45em" alt="">
          <h3>مناسب برای آموزش</h3>
          <p>ما در طراحی قطعات سعی بر آن داشتیم تا با ساده سازی هرچه بیشتر طراحی ها ساخت و استفاده از آن را تا جای ممکن
            نهادینه سازیم</p>
        </div>
      </section>
    </div>
  </section>
  <!-- ----------------------------------------------------------------------- -->
  <!--                             SWIPER-GALLERY                              -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="mySwiper-container ">
    <h2>
      عکس محصولات
    </h2>
    <div data-aos="fade-up">
      <div class="swiper mySwiper2 ">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" src="/images/PHOTOS/rig+armature (2).webp" />
          </div>
            
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" src="/images/PHOTOS/rig+armature (1).webp" />
          </div>
    
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" src="/images/PHOTOS/rig+armature (3).webp" />
          </div>
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" src="/images/PHOTOS/rig+armature (5).webp" />
          </div>
          <div class="swiper-slide">
            <img  alt="کیت آرماتور استاپموشن" src="/images/PHOTOS/armaturekit (2).webp" />
          </div>
        </div>
      </div>
      <div thumbsSlider="" class="swiper mySwiper ">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" class="mySwiper-thumbImg" src="/images/PHOTOS/rig+armature (2).webp" />
          </div>
                        
              <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" class="mySwiper-thumbImg" src="/images/PHOTOS/rig+armature (1).webp" />
          </div>
       
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" class="mySwiper-thumbImg" src="/images/PHOTOS/rig+armature (3).webp" />
          </div>
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" class="mySwiper-thumbImg" src="/images/PHOTOS/rig+armature (5).webp" />
          </div>
          <div class="swiper-slide">
            <img  alt=" کیت آرماتور استاپموشن" class="mySwiper-thumbImg" src="/images/PHOTOS/armaturekit (2).webp" />
          </div>
        </div>
      </div>
      <br>
      <a class="myMore" data-aos="fade-up" href="/gallery">بیشتر</a>

    </div>
  </section>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                ABOUT-US                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <section data-aos="fade-up" class="myAboutUs-wrapper">
    <div class="myAboutUs-container">
      <h2> ما صنعت را به خدمت <strong>هنر</strong> در آورده‌ایم</h2>
      <p>
        ما با استفاده از تجربیاتمان در راستای هنر و تولید، صنعت را خدمتی ساختیم برای پیشرفت هنر و آموزش <br>
        <br>
        <a class="myMore" data-aos="fade-up" href="/about">درباره‌ی ما</a>
      </p>
      <img src="images/pointsIcon-05.svg" alt="armature's part">
      <img src="images/pointsIcon-02.svg" alt="armature's part">
    </div>
    </div>
  </section>
  <!-- ----------------------------------------------------------------------- -->
  <!--                               MAP-GALLERY                               -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="myGallery-wrapper ">
    <h4>
      نقشه های ساخت
    </h4>
    <div data-aos="fade-up" class="myGallery-container">
      <input id="item1" type="checkbox" />
      <label class="item1" for="item1"
        style="background-image:url('/images/MAP/exploded-view-01.webp');">
      </label>
      <input id="item2" type="checkbox" />
      <label class="item2" for="item2"
        style="background-image:url('/images/MAP/exploded-view-02.webp')">
      </label>
      <input id="item3" type="checkbox" />
      <label class="item3" for="item3"
        style="background-image:url('/images/MAP/stand (1).webp');">
      </label>
      <input id="item4" type="checkbox" />
      <label class="item4" for="item4"
        style="background-image:url('/images/MAP/stand (2).webp');">
      </label>
      <input id="item5" type="checkbox" />
      <label class="item5" for="item5"
        style="background-image:url('/images/MAP/stand (3).webp');">
      </label>
      <input id="item6" type="checkbox" />
      <label class="item6" for="item6"
        style="background-image:url('/images/MAP/img1 (4).webp')">
      </label>
      <input id="item7" type="checkbox" />
      <label class="item7" for="item7"
        style="background-image:url('/images/MAP/img1 (1).webp');">
      </label>
      <input id="item8" type="checkbox" />
      <label class="item8" for="item8"
        style="background-image:url('/images/MAP/img1 (2).webp');">
      </label>
      <input id="item9" type="checkbox" />
      <label class="item9" for="item9"
        style="background-image:url('/images/MAP/img1 (3).webp');">
      </label>
    </div>
    <a class="myMore" data-aos="fade-up" href="/gallery" >بیشتر</a>
  </section>
 
  <!-- ----------------------------------------------------------------------- -->
  <!--                                NEWS-GALLERY                                -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="mySlideshow-wrapper">
    <h4>
       اخبار و مقالات
    </h4>
    <div class="owl-carousel owl-theme mainWrapper mySlideshow" id="newsSlideShow">
      <% last.forEach(article => { %>
        <div class="mySlideshow-item mySlideShow-itemWrapper" data-aos="fade-up" >
          <a href="news/<%= article._id %>">
          <img src="<%= article.img %> " alt="news image">
          <div class="mySlideShow-info ">
            <small><%= article.label %> </small>
            <h3>
                <span><%= article.title %> </span>
                <span class="iconify mySlideShow-infoIcon" data-icon="dashicons:arrow-left-alt2"></span>
              </a>
            </h3>
          </div>
        </div>
      <% }) %>  
   
    </div>

    <div class="myMore-center" data-aos="fade-up"><a class="myMore" data-aos="fade-up" href="/news">بیشتر</a></div>


  </section>

  <!-- ----------------------------------------------------------------------- -->
  <!--                             YOUR-QUESTOUNS                              -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="myFqa-wrapper">
    <div class="myFqa-container mainWrapper">
      <h2>
        سوالات متداول
      </h2>
      <div data-aos="fade-up" class="myAcordian-wrapper">
        <button class="accordion ">جنس آرماتورها از چیست؟</button>
        <div class="panel">
          <p>تمامی قطعات اصلی از آهن ساخته شده‌اند، و پس از ساخت <br> آبکاری میشوند. </p>
        </div>
        <button class="accordion">از کجا میتونم تهیه کنم؟</button>
        <div class="panel">
        <p>
برای خرید میتوانید با مشاورین <a href="/contact">بخش فروش</a> تماس بگیرید
</p>
        </div>
        <button class="accordion">آیا برای استاپ موشن قابل استفاده است؟</button>
        <div class="panel">
          <p>بله، آرماتور های ما به صورت تخصصی برای<br> ساخت استاپ موشن های حرفه‌ای ساخته شده است
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="google-map" data-aos="zoom-in">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.684243167583!2d50.78254051526025!3d35.733983380182124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8da3861deec963%3A0x437b4bd18c3e6f5a!2z2q_YsdmI2Ycg2LXZhti52KrbjCDZvtuM2YTZhyDZiNix!5e0!3m2!1sen!2s!4v1644779718855!5m2!1sen!2s"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
<script src="/layouts/footer.js"></script>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SCRIPTS                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <!-- Swiper JS -->
  <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->

  
  <!-- <script src="/js/swiper-bundle.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.0.3/swiper-bundle.min.js"></script>
  <!-- <script src="/js/jquery.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script src="/js/aos.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script src="/js/owl.carousel.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/mainPage.js"></script>
  <!-- <script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"Article","name":"\u0622\u0631\u062a\u0627\u0645\u0646 \u06cc\u0627 \u06a9\u0648\u0631\u0634 \u0628\u0632\u0631\u06af","url":"https:\/\/fa.wikipedia.org\/wiki\/%D8%A2%D8%B1%D8%AA%D8%A7%D9%85%D9%86_%DB%8C%D8%A7_%DA%A9%D9%88%D8%B1%D8%B4_%D8%A8%D8%B2%D8%B1%DA%AF","sameAs":"http:\/\/www.wikidata.org\/entity\/Q507528","mainEntity":"http:\/\/www.wikidata.org\/entity\/Q507528","author":{"@type":"Organization","name":"\u0645\u0634\u0627\u0631\u06a9\u062a\u200c\u06a9\u0646\u0646\u062f\u06af\u0627\u0646 \u067e\u0631\u0648\u0698\u0647\u0654 \u0648\u06cc\u06a9\u06cc\u200c\u0645\u062f\u06cc\u0627"},"publisher":{"@type":"Organization","name":"Wikimedia Foundation, Inc.","logo":{"@type":"ImageObject","url":"https:\/\/www.wikimedia.org\/static\/images\/wmf-hor-googpub.png"}},"datePublished":"2012-11-14T13:41:01Z","dateModified":"2020-05-17T20:07:35Z","image":"https:\/\/upload.wikimedia.org\/wikipedia\/commons\/f\/f9\/ScuderyArtamene.jpg"}</script><script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"Article","name":"\u0622\u0631\u062a\u0627\u0645\u0646 \u06cc\u0627 \u06a9\u0648\u0631\u0634 \u0628\u0632\u0631\u06af","url":"https:\/\/fa.wikipedia.org\/wiki\/%D8%A2%D8%B1%D8%AA%D8%A7%D9%85%D9%86_%DB%8C%D8%A7_%DA%A9%D9%88%D8%B1%D8%B4_%D8%A8%D8%B2%D8%B1%DA%AF","sameAs":"http:\/\/www.wikidata.org\/entity\/Q507528","mainEntity":"http:\/\/www.wikidata.org\/entity\/Q507528","author":{"@type":"Organization","name":"\u0645\u0634\u0627\u0631\u06a9\u062a\u200c\u06a9\u0646\u0646\u062f\u06af\u0627\u0646 \u067e\u0631\u0648\u0698\u0647\u0654 \u0648\u06cc\u06a9\u06cc\u200c\u0645\u062f\u06cc\u0627"},"publisher":{"@type":"Organization","name":"Wikimedia Foundation, Inc.","logo":{"@type":"ImageObject","url":"https:\/\/www.wikimedia.org\/static\/images\/wmf-hor-googpub.png"}},"datePublished":"2012-11-14T13:41:01Z","dateModified":"2020-05-17T20:07:35Z","image":"https:\/\/upload.wikimedia.org\/wikipedia\/commons\/f\/f9\/ScuderyArtamene.jpg"}</script> -->

</body>

</html>
