<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="url" content="https://www.artaaman.com/" >

  <meta name="og:description" content="آرماتورها(اسکلتهای) فلزی مفصل دار، مخصوص ساخت عروسک، استاپ موشن، انیمیت و آموزش">
  <meta name="keywords" content=" اسکلت عروسک, انیمیشن , آرماتور,  استاپموشن, انیمیت">
  <meta property="og:type" content="website" >
  <meta property="og:image" itemprop="image"  content="https://artaaman.com/images/favicon.svg">
  <meta property="og:image:type" content="/images/favicon.svg">

  <link rel="stylesheet" href="/css/aos.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/swiper-bundle.min.css" >


  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/mainPage.css">
  <link rel="stylesheet" href="/css/responsiv.css">


  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">


  <title>آرتامن</title>
</head>

<body>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <script src="/layouts/nav.js"></script>


  <!-- ----------------------------------------------------------------------- -->
  <!--                                 HEADER                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <header class="myHeader">
    <div class="mainWrapper myHeader-contents">
      <img class="myHeader-titleImg" src="/images/headerLogoSmall.svg" alt="artaman logo + artaman title"
        data-aos="fade-down">
      <h1 data-aos="fade-up">
        آرماتور استاپ موشن؛ مناسب برای آموزش، طراحی و ساخت انیمیشن
  
      </h1>
      <button class="hvr-ripple-in" onclick="window.location.href='/contact'">تماس با ما</button>
    </div>
  </header>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 WHY-US?                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="myWhyUs-wrapper">
    <div class="mainWrapper myWhyUs-container">
      <div class="myWhyUs-title" data-aos="fade-up">
        <h2>چراآرتامن؟</h2>
      </div>
      <section class="myWhyUs-contents">
        <div class="myWhyUs-item" data-aos="fade-up" data-aos-delay="100">
          <img src="/images/pointsIcon-01.svg" width="60em" alt="">
          <h3>محصولات با کیفیت</h3>
          <p>طراحی، ساخت و تولید قطعاتی با کیفیت </p>
        </div>
        <div class="myWhyUs-item" data-aos="fade-up" data-aos-delay="200">
          <img src="/images/pointsIcon-04.svg" width="60em" alt="">
          <h3>خرید راحت</h3>
          <p>خرید از تمامی اسباب‌بازی فروشی‌های مجاز سراسر ایران</p>
        </div>
        <div class="myWhyUs-item" data-aos="fade-up" data-aos-delay="300">
          <img src="/images/pointsIcon-03.svg" width="60em" alt="">
          <h3>قابلیت ساخت و ادغام</h3>
          <p>تمامی آرماتورها به گونه‌ای طراحی شده که به راحتی قابل جدا سازی و ادغام با سایر قطعات میباشد</p>
        </div>
        <div class="myWhyUs-item" data-aos="fade-up" data-aos-delay="400">
          <img src="/images/pointsIcon-05.svg" width="45em" alt="">
          <h3>مناسب برای آموزش</h3>
          <p>ما در طراحی قطعات سعی بر آن داشتیم تا با ساده سازی هرچه بیشتر طراحی ها ساخت و استفاده از آن را تا جای ممکن
            نهادینه سازیم</p>
        </div>
      </section>
    </div>
  </section>
  <!-- ----------------------------------------------------------------------- -->
  <!--                             SWIPER-GALLERY                              -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="mySwiper-container ">
    <h2>
      عکس محصولات
    </h2>
    <div data-aos="fade-up">
      <div class="swiper mySwiper2 ">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" src="/images/PHOTOS/ball_socket_armature-model (6).webp" />
          </div>
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" src="/images/PHOTOS/ball_socket_armature-model (10).webp" />
          </div>
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" src="/images/PHOTOS/ball_socket_armature-model (9).webp" />
          </div>
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" src="/images/PHOTOS/ball_socket_armature-model (4).webp" />
          </div>
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" src="/images/PHOTOS/ball_socket_armature-model (5).webp" />
          </div>
        </div>
      </div>
      <div thumbsSlider="" class="swiper mySwiper ">
        <div class="swiper-wrapper">
              <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" class="mySwiper-thumbImg" src="/images/PHOTOS/ball_socket_armature-model (6).webp" />
          </div>
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" class="mySwiper-thumbImg" src="/images/PHOTOS/ball_socket_armature-model (10).webp" />
          </div>
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" class="mySwiper-thumbImg" src="/images/PHOTOS/ball_socket_armature-model (9).webp" />
          </div>
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" class="mySwiper-thumbImg" src="/images/PHOTOS/ball_socket_armature-model (4).webp" />
          </div>
          <div class="swiper-slide">
            <img  alt="آرماتور استاپموشن" class="mySwiper-thumbImg" src="/images/PHOTOS/ball_socket_armature-model (5).webp" />
          </div>
        </div>
      </div>
      <br>
      <a class="myMore" data-aos="fade-up" href="/gallery">بیشتر</a>

    </div>
  </section>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                ABOUT-US                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <section data-aos="fade-up" class="myAboutUs-wrapper">
    <div class="myAboutUs-container">
      <h2> ما صنعت را به خدمت <strong>هنر</strong> در آورده‌ایم</h2>
      <p>
        ما با استفاده از تجربیاتمان در راستای هنر و تولید، صنعت را خدمتی ساختیم برای پیشرفت هنر و آموزش <br>
        <br>
        <a class="myMore" data-aos="fade-up" href="/about">درباره‌ی ما</a>
      </p>
      <img src="images/pointsIcon-05.svg" alt="armature's part">
      <img src="images/pointsIcon-02.svg" alt="armature's part">
    </div>
    </div>
  </section>
  <!-- ----------------------------------------------------------------------- -->
  <!--                               MAP-GALLERY                               -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="myGallery-wrapper ">
    <h4>
      نقشه های ساخت
    </h4>
    <div data-aos="fade-up" class="myGallery-container">
      <input id="item1" type="checkbox" />
      <label class="item1" for="item1"
        style="background-image:url('/images/MAP/img1 (1).webp');">
      </label>
      <input id="item2" type="checkbox" />
      <label class="item2" for="item2"
        style="background-image:url('/images/MAP/img1 (2).webp')">
      </label>
      <input id="item3" type="checkbox" />
      <label class="item3" for="item3"
        style="background-image:url('/images/MAP/img1 (3).webp');">
      </label>
      <input id="item4" type="checkbox" />
      <label class="item4" for="item4"
        style="background-image:url('/images/MAP/img1 (4).webp');">
      </label>
      <input id="item1" type="checkbox" />
      <label class="item1" for="item1"
        style="background-image:url('/images/MAP/img1 (1).webp');">
      </label>
      <input id="item2" type="checkbox" />
      <label class="item2" for="item2"
        style="background-image:url('/images/MAP/img1 (2).webp')">
      </label>
      <input id="item3" type="checkbox" />
      <label class="item3" for="item3"
        style="background-image:url('/images/MAP/img1 (3).webp');">
      </label>
      <input id="item4" type="checkbox" />
      <label class="item4" for="item4"
        style="background-image:url('/images/MAP/img1 (4).webp');">
      </label>
      <input id="item1" type="checkbox" />
      <label class="item1" for="item1"
        style="background-image:url('/images/MAP/img1 (1).webp');">
      </label>
    </div>
    <a class="myMore" data-aos="fade-up" href="/gallery">بیشتر</a>
  </section>
 
  <!-- ----------------------------------------------------------------------- -->
  <!--                                NEWS-GALLERY                                -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="mySlideshow-wrapper">
    <h4>
       اخبار و مقالات
    </h4>
    <div class="owl-carousel owl-theme mainWrapper mySlideshow" id="newsSlideShow">
      <% last.forEach(article => { %>
        <div class="mySlideshow-item mySlideShow-itemWrapper" data-aos="fade-up" >
          <a href="news/<%= article._id %>">
          <img src="<%= article.img %> " alt="news image">
          <div class="mySlideShow-info ">
            <small><%= article.label %> </small>
            <h3>
                <span><%= article.title %> </span>
                <span class="iconify mySlideShow-infoIcon" data-icon="dashicons:arrow-left-alt2"></span>
              </a>
            </h3>
          </div>
        </div>
      <% }) %>  
   
    </div>

    <div class="myMore-center" data-aos="fade-up"><a class="myMore" data-aos="fade-up" href="/news">بیشتر</a></div>


  </section>

  <!-- ----------------------------------------------------------------------- -->
  <!--                             YOUR-QUESTOUNS                              -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="myFqa-wrapper">
    <div class="myFqa-container mainWrapper">
      <h2>
        سوالات متداول
      </h2>
      <div data-aos="fade-up" class="myAcordian-wrapper">
        <button class="accordion ">جنس آرماتورها از چیست؟</button>
        <div class="panel">
          <p>تمامی قطعات اصلی از آهن ساخته شده‌اند، و پس از ساخت <br> آبکاری میشوند تا علاوه بر افزایش استحکام، در مقابل زنگ زدگی نیز مقاوم گردند. </p>
        </div>
        <button class="accordion">از کجا میتونم تهیه کنم؟</button>
        <div class="panel">
        <p>
برای خرید میتوانید با مشاورین <a href="/contact">بخش فروش</a> تماس بگیرید
</p>
        </div>
        <button class="accordion">آیا برای استاپ موشن قابل استفاده است؟</button>
        <div class="panel">
          <p>بله، آرماتور های ما به صورت تخصصی برای<br> ساخت استاپ موشن های حرفه‌ای ساخته شده است
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="google-map" data-aos="zoom-in">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.684243167583!2d50.78254051526025!3d35.733983380182124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8da3861deec963%3A0x437b4bd18c3e6f5a!2z2q_YsdmI2Ycg2LXZhti52KrbjCDZvtuM2YTZhyDZiNix!5e0!3m2!1sen!2s!4v1644779718855!5m2!1sen!2s"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
<script src="/layouts/footer.js"></script>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SCRIPTS                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <!-- Swiper JS -->
  <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
  <script src="/js/swiper-bundle.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/mainPage.js"></script>

</body>

</html>
