body {
  direction: rtl;
}
/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #343a40;
  padding-top: 20px;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

.content {
  padding: 20px;
  transition: margin-right 0.3s;
}

.section {
  display: none;
}

.active-section {
  display: block;
}


.sidebar.show {
  transform: translateX(200px);
}
.toggle-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
  }
  
@media (max-width: 768px) {
  .sidebar {
      width: 100%;
      position: fixed;
      top: 0;
      right: 0;
      height: auto;
      background-color: #343a40;
      display: flex;
      flex-direction: row;
      z-index: 1000;
      transform: none;
  }

  .sidebar a {
      flex: 1;
      text-align: center;
      padding: 10px;
  }

  .toggle-btn {
      display: none;
  }

  .content {
      margin-top: 6rem;
  }
}


@media (min-width: 769px) {
  .sidebar .show {
      transform: translateX(250px);
  }

  .toggle-btn {
      display: block;
      color: #ccc;
  }

  .content {
      margin-right: 250px;
      padding: 20px;
      transition: margin-right 0.3s;
  }

  .sidebar.show~.content {
      margin-right: 2rem;
  }

}

/* -------------------------------------------------------------------------- */
/*                               FORMS AND CARDS                              */
/* -------------------------------------------------------------------------- */

  .admin-form {
    padding: 3rem;
    text-align: right;
    direction: rtl;
}

.admin-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;

}

.card {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    overflow: hidden;
    margin-bottom: 1rem;
    width: 30%;
    text-align: right;
}

.card-img-top {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.card-body {
    padding: 1rem;
}

.card-title {
    margin-bottom: .5rem;
}

.card-subtitle {
    margin-bottom: .5rem;
}

.card-text {
    margin-bottom: .75rem;
}

.btn-container {
    width: 100%;
    margin-top: .5rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.modal-content {
    border-radius: .25rem;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
}

.modal-body {
    padding: 1.25rem;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
    padding: .75rem;
}

.pagination {
    justify-content: center;
    gap: .2rem;
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 1rem;
        width: 100%;
    }

    .admin-form,
    .admin-list {
        padding: 1rem;
    }

}