a:hover{
  text-decoration: none;
}

.myNavbar-contents {
  inset: 55px auto auto 0px;
}
.outerPart {
  background-color: var(--white-color);
  direction: ltr;
}

.myFilterGallery a {
  width: 100%;
  height: 300px;
}

.myFilterGallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.myFilterGallery .row {
  flex-direction: row-reverse;
}
.gallery {
  direction: rtl;
}

.filter-button {
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  color: var(--green-dark);
  margin-bottom: 30px;
  margin-top: 2rem;
}
 .gdesc-inner {
  padding: 1rem !important;
} 
.gslide-description
{
text-align: right !important;
direction: rtl !important;

} 
 .gslide-title{
   font-family: 'Shabnam-Bold'!important;

  margin: 0 auto .2rem !important;
}
.glightbox-clean .gslide-desc{
     font-family: 'Shabnam-DG-B'!important;

}

.filter-button:hover {
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--yellow-dark);
}
.filter-button.active {
  background-color: var(--green-dark);
  color: var(--white-color);
}
.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.block {
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

