
h1{
  font-size: 32px;
}
a:hover{
  text-decoration: none;
}

.myNavbar-contents {
  inset: 55px auto auto 0px;
}
.outerPart {
  background-color: var(--white-color);
  /* direction: rtl; */
  margin-bottom: 4rem;
}

.myMainTitle{margin-top: 4rem;}
.outerPart::after{
  content: "";
  position: absolute;
  background-image: url("/images/lineTop.svg");
  width: 200px;
  height: 217px;
  top:0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;

}

.myFilterGallery a {
  width: 100%;
  height: 300px;
}
.myFilterGallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.myFilterGallery .row {
  flex-direction: row-reverse;
  /* direction: ltr;  */

}
.gallery {
  /* direction: ltr; */
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.filter-button {
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  color: var(--green-new);
  margin-bottom: 10px;
}
 .gdesc-inner {
  padding: 1rem !important;
} 
.gslide-description
{
text-align: right !important;
/* direction: rtl !important; */

} 
 .gslide-title{
   font-family: 'Shabnam-Bold'!important;

  margin: 0 auto .2rem !important;
}
.glightbox-clean .gslide-desc{
     font-family: 'Shabnam-DG-B'!important;

}

.filter-button:hover {

  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--blue-light);
}
.filter-button.active {
  background-color: var(--green-new);
  color: var(--white-color);
}
.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.block {
  opacity: 0;
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media only screen and (max-width: 425px) {
  .outerPart::after{
    width: 143px; 
  }
}

/* -------------------------------------------------------------------------- */
/*                                 pagination                                 */
/* -------------------------------------------------------------------------- */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-link {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
}

.page-link.active {
  background-color: #333;
  color: #fff;
}

 /* -------------------------------------------------------------------------- */
 /*                               skleton styles                               */
 /* -------------------------------------------------------------------------- */


.skeleton-loader {
  flex: 1 1 calc(33.333% - 20px); /* عرض هر اسکلتون */
  margin: 10px; /* فاصله */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skeleton-image {
  width: 100%; /* عرض کامل */
  height: 200px; /* ارتفاع تصویر */
  background-color: #e0e0e0; /* رنگ خاکستری */
  border-radius: 8px; /* گوشه‌های گرد */
  animation: pulse 1.5s infinite ease-in-out; /* انیمیشن */
}

.skeleton-text {
  width: 80%; /* عرض متن */
  height: 20px; /* ارتفاع متن */
  background-color: #e0e0e0;
  border-radius: 4px;
  margin: 6px 0; /* فاصله بین متون */
}

.skeleton-text.short {
  width: 60%; /* عرض کوتاه‌تر */
}


@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #c0c0c0; /* رنگ تیره‌تر */
  }
  100% {
    background-color: #e0e0e0;
  }
}
@media only screen and (max-width: 425px) {

  .skeleton-loader {
    flex: 1 1 calc(100% - 20px); /* عرض هر اسکلتون */
  
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .skeleton-loader {
    flex: 1 1 calc(50% - 20px); /* عرض هر اسکلتون */
  
  }
}