.myMainTitle{
padding-top: 6rem;
}
.myMainTitle h1{
  font-size: 32px;}

.content-wrapper {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 3rem;
}
.myNewsPage{
  margin-bottom: 4rem;
}

.news-card {
  direction: rtl;
  /* border: 0px solid aqua; */
  margin: 0.8rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 1px 1px 3px rgb(210 208 208);
  max-height: 50vh;
}



.news-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.7) 90%);
  z-index: 0;
  
}

.news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  
}

.news-card__image {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  /* object-fit: cover; */
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;
  transition: background-color 1.5s ease;
  direction: rtl;
  width: 100%;
  font-family: 'Shabnam-DG-N';


}
.news-card__text-wrapper h2{
  color: white;
}

.news-card__title {
  transition: color 1s ease;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  /* font-family: 'Shabnam-DG-N'; */


}

.news-card__post-date {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: #ccc;

}

.news-card__details-wrapper {
  min-width: 100%;
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
  
}
.news-card__excerpt {
  font-weight: 300;
max-height:50px;
  overflow: hidden;
  
}

.news-card__read-more {
  background: black;
  color: #bbb;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid #444;
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5;
  text-align: center;
  
}

.news-card__read-more i {
  position: relative;
  top: 3px;
  color: #888;
  transition: left 0.5s ease, color 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}



@media (min-width: 900px) {
  .news-card {
    height: 20rem;
  }
}
@media (min-width: 900px) {
  .news-card:hover .news-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
  }
  .news-card:hover .news-card__text-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .news-card:hover .news-card__title {
    color: var(--yallow-mid);
  }
  .news-card:hover .news-card__image {
    transform: scale(1.2);
    z-index: -1;
  }
  .news-card:hover .news-card__read-more i,
  .news-card:hover .news-card__read-more {
    color: var(--yallow-mid);
  }
  .news-card:hover .news-card__read-more i {
    right: 0.5rem;
  }

}

@media (max-width: 768px) {
.news-card__excerpt, .news-card__read-more{
  display: none;
}
}