@font-face {
  font-family: "Shabnam-Normal";
  src: url("../fonts/Shabnam.eot"), url("../fonts/Shabnam.woff") format("woff"),
    url("../fonts/Shabnam.ttf") format("truetype");
  font-weight: normal;
  font-display: fallback;
  
}

@font-face {
  font-family: "Shabnam-Bold";
  src: url("../fonts/Shabnam-Bold.eot"),
    url("../fonts/Shabnam-Bold.woff") format("woff"),
    url("../fonts/Shabnam-Bold.ttf") format("truetype");
  font-weight: bold;
  font-weight: 500;
  font-display: swap;
  
}

@font-face {
  font-family: "Shabnam-S";
  src: url("../fonts/Shabnam.eot"), url("../fonts/Shabnam.woff") format("woff");
  font-weight: 100;
  
}

@font-face {
  font-family: "Shabnam-L";
  src: url("../fonts/Shabnam-Light.eot"),
    url("../fonts/Shabnam-Light.woff") format("woff"),
    url("../fonts/Shabnam-Light.ttf") format("truetype");
  font-weight: 300;
  
}

@font-face {
  font-family: "Shabnam-DG-N";
  src: url(../fonts/Shabnam-FD.woff) format("woff");
  
}

@font-face {
  font-family: "Shabnam-DG-B";
  src: url(../fonts/Shabnam-Bold-FD.woff) format("woff");
  
}

@font-face {
  font-family: "Shabnam-DG-L";
  src: url(../fonts/Shabnam-Light-FD.woff) format("woff");
  
}

/* -------------------------------------------------------------------------- */
/*                                  GENERALS(new)                                  */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "Shabnam-DG-N";
  src: url(../fonts/Shabnam-FD.woff) format("woff");
  font-display: swap;
}
:root {
  --yellow-light: #febf50;
  --yallow-mid: #ffb724;
  --yellow-dark: #fba100;
  --green-light: #2b6859;
  --green-mid: #214e43;
  --green-dark: #1b3c34;
  --grey-light: #ecebeb;
  --grey-mid: #797979;
  --grey-dark: #1a1818;
  --text-dark:#2f2f2f;
  --text-light:#6a6a6a;
  --black-color: #000000;
  --white-color: #ffffff;
  --white-bg: #eff2f1de;
  --green-bg: #2b68599a;
  --green-new: #1a7c6f;
  --blue-light: #446c73;
  --blue-dark: #1f4349;
  --blue-sharp: #02f7ff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: 'Shabnam-DG-N';
  font-size: 14px;
  font-display: swap;
  font-weight: 400;
  line-height: 28px;
  color: var(--grey-mid);
  background-color: var(--white-color);
  margin: 0;
  padding: 0;
}
::-moz-selection { /* Code for Firefox */
  color: var(--white-color);
  background: var(--green-new);
}

::selection {
  color: var(--white-color);
  background: var(--green-new);
}
h1, h2, h3, h4, h5, h6{color: var(--text-dark);}
p{color: var(--text-light);}

h1{font-size: 32px;}
h3{font-size: 18.75px; font-weight: 500px;   font-weight: bold;}
h2{font-size: 30px;}
@media only screen and (max-width: 768px) {
  h2{font-size: 28px;}
}
@media only screen and (max-width: 425px) {
  h2{font-size: 24px;}
}
a{
  text-decoration: none;
  color: var(--green-new);
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: var(--green-light);
}

strong {
  color: var(--green-new);
}

.mainWrapper {
  max-width: 90%;
  margin: 0 auto;
}

.mainWrapper {
  max-width: 90%;
  margin: 0 auto;
}
.myMainTitle {
  margin-bottom: 2rem;
  padding-top: 4rem;
  text-align: center;
}




/* -------------------------------------------------------------------------- */
/*                                    btns                                    */
/* -------------------------------------------------------------------------- */

.myBtn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  outline: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.myBtn:focus,
.myBtn:active {
  outline: solid 2px var(--green-bg);
}

.myBtn-green {
  background-color: var(--green-mid);
  color: var(--white-color);
}
.myBtn-green:hover,
.myBtn-green:focus,
.myBtn-green:active {
  background-color: var(--green-dark);
  color: var(--white-color);
}
.myBtn-greenN {
  background-color: var(--green-new);
  color: var(--white-color);
}
.myBtn-greenN:hover,
.myBtn-greenN:focus,
.myBtn-greenN:active {
  background-color: var(--blue-dark);
  color: var(--white-color);
}

.myBtn-yellow {
  background-color: var(--yellow-light);
  color: var(--grey-dark) !important;
}
.myBtn-yellow:hover {
  background-color: var(--yallow-mid);
  color: var(--black-color) !important;
}

.myBtn-greenOut{
  color: var(--green-new);
  border-color: 1px solid var(--green-new);
}
.myBtn-greenOut:hover{
  background-color: var(--green-new);
color: white;
}
.myBtn-greyOut{
  color: var(--text-light);
  font-weight: 600;
  border:2px var(--text-light) solid;
}
.myBtn-greyOut:hover{
 border-color: var(--green-new);
}
.myBackBtn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: var(--green-new);
  color: var(--white-color)!important;
  white-space: nowrap;
  cursor: pointer;
}
.myBackBtn:hover {
  background-color: var(--green-dark);
  /* color: var(--black-color); */
}

.backBtnWrapper {
  display: flex;
  justify-content: center;
}
/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */

#myNavbar {
  transition: all 0.5s;
}
.myNavbar-logos {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 4;
}
.myNavbar-logos *:focus {
  outline: 0;
}
.myNavbar-logos div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.st0 {
  fill: #1b6d6d;
}

.myNavbar-logos div a,
.myNavbar-logos div button {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
}

.myNavbar-logos div a svg,
.myNavbar-logos div button svg {
  background-color: var(--blue-dark);
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.myNavbar-logos {
  top: 0;
}

.myNavbar-logos div button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.myNavbar-logos div button .iconify {
  padding: 11px;
}
.myNavbar-logos {
  margin-top: 0.25rem;
  background-color: transparent;
}

.st0 {
  fill: var(--white-bg);
}
.close {
  color: white;
  display: none;
}
.myNavbar-logos div button {
  color: var(--white-bg) !important;
}

.myNavbar-logos div a:hover .st0 {
  fill: var(--white-color);
}
.myNavbar-logos div button:hover .iconify {
  color: var(--white-color) !important;
}

.myNavbar-contents {
  position: fixed;
  z-index: 3;
  display: none;
}
.myNavbar-contents ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: end;
}
.myNavbar-contents li {
  list-style: none;
}
.myNavbar-item a {
  width: 100%;
  height: 100%;
  display: flex;
}

.myNavbar-contents {
  inset: 60px auto auto 0px;
  width: 5%;
  min-height: 100vh;
  z-index: 3;
  margin-top: 0;
}

.myNavbar-contents ul {
  min-height: 60vh;
  margin-top: 1rem;
}

.myNavbar-contents li {
  height: 50px;
  margin-bottom: 10px;
  margin-left: 1rem;
}

.myNavbar-contents .iconify {
  width: 50px;
  color: var(--blue-light);
  color: var(--white-bg);
}

.myNavbar-item a {
  flex-direction: row-reverse;
  align-items: center;
  flex-direction: row-reverse;
  width: 50px;
  overflow: hidden;
  border-radius: 25px;
  justify-content: space-between;
  animation: openNav 2s 50ms;
  transition: all 1s;
}
.myNavbar-item a div {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #1f434963;
  border-radius: 25px;
  filter: drop-shadow(76px 52px 50px var(--blue-dark));
}

.myNavbar-item p {
  margin-top: 1rem;
  margin-right: 1rem;
  color: var(--blue-dark);
  white-space: nowrap;
  font-size: 1rem;
}

.myNavbar-item:hover a {
  width: 180px;
  background-color: var(--blue-dark);
  transition: width 0.5s;
  filter: drop-shadow(0 1px 1px var(--blue-dark));
}
.myNavbar-item:hover a div {
  background-color: var(--blue-dark);
  filter: drop-shadow(76px 52px 50px var(--black-color));
}
.myNavbar-item:hover .iconify {
  color: var(--white-color);
}
.myNavbar-item:hover p {
  color: var(--white-color);
}

@keyframes openNav {
  0% {
    width: 50px;
  }
  25% {
    background-color: var(--white-bg);
  }
  50% {
    width: 180px;
  }
  75% {
    background-color: var(--white-bg);
  }
  100% {
    width: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .myNavbar-item a {
    width: 180px;
    animation: none;
    background-color: #1f434963;
    transition: width 0.5s;
    filter: drop-shadow(0 1px 1px var(--blue-dark));
  }
  .myNavbar-logos .mainWrapper {
    max-width: 95%;
  }
  .myNavbar-contents .iconify,
  .myNavbar-contents a,
  .myNavbar-contents a p {
    color: var(--white-color) !important;
  }
  .myNavbar-contents li {
    margin-left: 0;
  }
  .myNavbar-item a div {
    background-color: transparent;
  }
}
/* -------------------------------------------------------------------------- */
/*                                 newsletter                                 */
/* -------------------------------------------------------------------------- */
.mySubscribe-formWrap {
  margin-bottom: 80px;
  position: relative;
  z-index: 2;
}


.mySubscribe-formWrap h3 {
font-size: 18px;
font-weight: 500;
color: #3b5d50;
}
.mySubscribe-formItem{
width: 25%;
padding-left: 1rem !important; 
}
.mySubscribe-formWrap .form-control {
height: 50px;
border-radius: 10px;
font-family: "Inter", sans-serif;
}

.mySubscribe-formWrap .form-control:active,
.mySubscribe-formWrap .form-control:focus {
outline: none;
-webkit-box-shadow: none;
box-shadow: none;
border-color: #3b5d50;
-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.mySubscribe-formWrap .btn {
border-radius: 10px !important;
}
@media (max-width: 515px) {
.mySubscribe-formItem{
  width: 40%;
}
}
/* -------------------------------------------------------------------------- */
/*                                   SUPORT                                   */
/* -------------------------------------------------------------------------- */

    .mySupport-btnFloat{
        position:fixed;
        bottom:15px;
        right:15px;
        border-radius:50px;
        text-align:center;
      font-size:30px;
      z-index:100;
    }
    .mySupport-btnFloat::after{
    content: "چطور میتونم کمکتون کنم؟ ";
    
    color: var(--text-dark);
    padding:.1rem .5rem;
    font-size: 14px;
    background: var(--white-bg);
    border-radius: 25px 25px 0;
    margin-bottom: 10px;
        box-shadow: 1px 1px 0px #999;
    
    }
    .mySupport-btnFloat .iconify{
      color: var(--yellow-dark);
      background-color: transparent;
      filter: drop-shadow(1px 0px 1px var(--blue-dark));    
      animation: wiggle 6s ease infinite; /* Adjust the duration as needed */
      animation-fill-mode: forwards;
      animation-delay: 5s;
    
    
    }
    @keyframes wiggle {
      0% {
        transform: rotate(-3deg);
      }
      20% {
        transform: rotate(20deg);
      }
      40% {
        transform: rotate(-15deg);
      }
      60% {
        transform: rotate(5deg);
      }
      90% {
        transform: rotate(-1deg);
      }
      100% {
        transform: rotate(0);
        
      }
    }
    /* Modal customization */
    .modal {
      background: var(--white-bg);
      background: url(../images/line001shadow.svg) no-repeat 100% 0;
    }
    .modal:before {
      position: absolute;
      content: "";
      width: 50%;
      height: 217px;
      background-image: url("../images/dots-yellow.svg");
      /* background-image: url("../images/line003.svg"); */
      background-repeat: no-repeat;
      background-size: contain;
      transform: translate(-45%, 90%);
    
      z-index: -1;
    }
    .modal-content {
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    
    .modal-header {
      background-color: var(--blue-dark);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 15px;
    }
    
    .modal-header p {
      font-size: 18px;
      color: var(--white-color) !important;
    
    }
    
    .modal-body {
      padding: 20px;
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    /* Form input styling */
    .form-control {
      border-radius: 8px;
      border: 1px solid var(--grey-light);
    }
    
    
    
    /* Additional styling if needed */
    
    @media only screen and (max-width: 425px) {
      .mySupport-btnFloat svg{
        width: 40px;
      }
     
    }
    .modal-contact-info{
      color: var(--text-dark);
    }
    .mySupport .custom-social li {
      width: 35px;
      height: 35px;
      background-color: var(--grey-light);
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .contact-number{
      align-items: center;
    }
    .contact-number span{
      background-color: var(--grey-light);
      border-radius: 25px;
      width: 35px;
      height: 35px;
      padding: 4px;
      
    }
    .mySupport .custom-social li:hover, .contact-number:hover span{
      opacity: 1;
      transform: scale(1.05);
    
      transition: all 1s;
    }
    .mySupport .custom-social li a{
      color: var(--grey-mid);
      opacity: .9;
    }
    .contact-number p span{  color: var(--grey-mid);
      opacity: .9;
    
    }
    .contact-number p{
      font-size: 18px;
    }
    
/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

.myFooter {
  padding-top: 40px;
  background: var(--white-bg);
  text-align: right;
  text-align: center;
}

.myFooter .relative {
  position: relative;
}
.myFooter p {color: var(--text-dark);}
.myFooter a {
  text-decoration: none;
  color: var(--green-new);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.myFooter a:hover {
  color: var(--blue-dark);
}



.myFooter{position: relative;}
.myFooter .myFooter-imgWrap {
  position: absolute;
  z-index: 1;
  left: 0;
    left: 0px;
    top: -100px;

}

.myFooter .myFooter-imgWrap img {
  width: 100px;
}
.myFooter-titles {
  font-size: 28px;
  text-align: center !important;
  color: var(--grey-mid);
}
.myFooter-titles .iconify{
  color: var(--green-new);
}

.custom-social{display: flex; justify-content: space-between;}

.myFooter .custom-social li {
  margin: 2px;
  display: inline-block;
}

.myFooter .custom-social li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: var(--blue-dark);
  background: var(--grey-mid);
  background: teal;
  color: var(--grey-light);
  border-radius: 50%;
  opacity: .7;
}

.myFooter .custom-social li a:hover {
  opacity: 1;
  transition: a11 1s;
  transform: scale(1.1);

}

.myFooter .border-top {
  border-color: #dce5e4;
}


@media (max-width: 768px) {
  .myFooter-titles {
    text-align: center !important;
  }
  .myFooter .myFooter-imgWrap {
 
      top: -70px;
  
  }
  
  .myFooter .myFooter-imgWrap img {
    width: 60px;
  }
}
